#links-form {
  padding-top: 15px;
  .grid {
    @include make-sm-column(12);
    padding: 10px;
    .link-row-container {
      padding: 10px;
    }
    .link-text {
      width: 25%;
    }
    .link-file-size {
      width: 10%;
    }
    .link-description {
      width: 30%;
    }
    .link-url, .link-help {
      margin-top: 4px;
      margin-left: 15px;
      width: 94%;
    }
  }
  .add-link-btn-div {
    @include make-sm-column(12);
    padding-bottom: 15px;
  }
}