.edit-affiliation-panel {
  .loading-indicator {
    display: none;
  }

  .select-affiliation-container {

    .select-create-or-edit-container {
      display:none;

      .create-btn {
        @include make-sm-column(1);
      }
      >span {
        @include make-sm-column(1);
        text-align: center;
        font-size: large;
      }
      #cost-center-input-div {
        display:none;
      }
      #outside-affiliation-input-div {
        display:none;
      }
      .select-affiliation-to-update-container {
        @include make-sm-column(10);
      }
    }
  }
  .edit-div{
    display:none;
  }
}