@import '../../node_modules/select2/src/scss/core.scss';
@import '../../node_modules/backgrid/src/backgrid.css';
@import '../../node_modules/backgrid-paginator/backgrid-paginator.css';
@import '../../node_modules/jquery-ui-dist/jquery-ui.min.css';
@import '../../node_modules/tinymce/skins/lightgray/skin.min.css';
@import '../../node_modules/tinymce/skins/lightgray/content.min.css';

@import 'bootstrap';
@import '../../node_modules/select2/src/scss/core.scss';
@import 'bootstrap-datetimepicker';
$icon-font-path: './fonts/';

@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

$fa-font-path: './fonts';

@import '../usgs_header_footer.scss';
@import 'manage_publications.scss';
@import 'publication.scss';
@import 'bibliodata.scss';
@import 'links.scss';
@import 'contributors.scss';
@import 'spn.scss';
@import 'cataloging.scss';
@import 'geospatial.scss';
@import 'editSeriesTitle.scss';
@import 'manageContributors.scss';
@import 'manageAffiliations.scss';

#manage-content-header {

  h1 {
    display : inline-block;
  }
  a {
    float: right !important;
    margin-top : 10px;
    margin-right : 10px;
  }
}
 /* application wide styling */
.fa-minus-circle {
  color: red;
  cursor : pointer;
}
.fa-bars {
  cursor : pointer;
}


