@import 'jquery-ui';

$fa-font-path: './fonts' !default;
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

@import 'bootstrap';
@import '../../node_modules/select2/src/scss/core.scss';
@import 'bootstrap-datetimepicker';
$icon-font-path: './fonts/';

@import '../../node_modules/select2-bootstrap-theme/src/select2-bootstrap.scss';

@import '../usgs_viz_id';

@import 'manage_publications';
@import 'publication';
@import 'bibliodata';
@import 'links';
@import 'contributors';
@import 'spn';
@import 'cataloging';
@import 'geospatial';
@import 'editSeriesTitle';
@import 'manageContributors';
@import 'manageAffiliations';

#main-content {
  @include u-maxw('full');
  @include u-padding-x($theme-site-margins-width);
}
#manage-content-header {
  h1 {
    display : inline-block;
  }
  a {
    float: right !important;
    margin-top : 10px;
    margin-right : 10px;
  }
}
 /* application wide styling */
.fa-minus-circle {
  color: red;
  cursor : pointer;
}
.fa-bars {
  cursor : pointer;
}

// Overrides to prevent issues between USWDS and bootstrap
.select2-search input[type="search"] {
  float: none;
}



