
#pubHeader {
  @include make-row();
  #sharedPubData {
    @include make-sm-column(5);
    .form-group > label {
      @include make-sm-column(4);
    }

    .form-group > input {
      @include make-sm-column(8);
    }
    .form-group > a {
      @include make-sm-column(8);
      margin-top: 7px;
    }
    .form-group > .input-group {
      @include make-row();
      @include make-sm-column(8);
    }
  }
  .alert-error-container {
    @include make-sm-column(7);
    margin-bottom: 10px;
    .loading-indicator {
      display: none;
      text-align: center;
    }
  }
}
.actions {
  @include make-row();
    margin-bottom : 10px;
    padding: 10px;
    background-color : #eee;
    border-radius: 4px;
    button {
      @include make-sm-column(2);
    }
    button:first-child {
      @include make-sm-column-offset(1);
    }
  }
.edit-tabs {
  @include make-row();
  .nav-tabs {
    @include make-sm-column(12);
  }
}

