@import "../../../bower_components/bootstrap/less/bootstrap.less";

@import "../../../static/less/usgs_header_footer.less";
@import "search.less";

#manage-content-header {

  h1 {
    display : inline-block;
  }
  a {
    .pull-right();
    margin-top : 10px;
    margin-right : 10px;
  }
}

