
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* ==========================================================================
   Publication.html styles
   ========================================================================== */
#thumbnail {
  display: none;
}
dl#contributors {margin:5px 0;
  font-size: .8em;

}
dl#contributors dt {
	float:left;
  margin:0 5px 0 0;
  font-weight: 600;
}
dl#contributors dd {
	margin:0 10px 0 0;
	display:block;
}
dl#contributors .clear {
  clear: both;
  margin-bottom:10px;
}
dl#contributors .contributor {
  display: inline-block;
  white-space: nowrap;
  padding: 0 .15em;
}
dl#contributors .contributor i.ai-orcid {
  color: #A6CE39;
  font-size: 1.5em;
  padding: 0 .25em;
}

h2#abstract_head {
  clear: both;
  font-weight: 400;
  margin:10px 0 10px 0;
}

hgroup h4{
	margin-top:5px;
}
#suggested {
  margin-top:10px;
  clear:both;
}
#suggested p {
  text-indent: 0;
  font-size: .85em;
}
.fileslist {
  padding: 5px 0 0 15px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  min-height: 30px;
  margin-bottom: 10px;
}

address a,
#table_contents a {
  color: #003366;
}
.fileslist a {
  font-size: .85em;
}

address a:hover,
#table_contents a:hover {
  text-decoration: none;
}
address p {
  font-style: normal;
}

#suggested_citation{
    text-indent: -2em;
    margin:10px 0 10px 2.9em;
    font-size: .9em;
}

#table_contents {
  font-size: .85em;
  padding: 0 0 0 15px;
  line-height: 1.5em;
}

.publicationAside{
	background: #f0f0f0;
  	border: 1px solid #000000;
  	padding: 8px;
  	margin-top:10px;
}

.publicationAside p,
.publicationAsideDesktop p {
  text-indent: 0;
  font-size: .85em;
}

.publicationAsideDesktop{
	display:none;
	background: #f0f0f0;
  	border: 1px solid #000000;
  	padding: 8px;
  	margin:10px 0 0 25px;
}

#details{width:100%;
		min-height:100px;
		margin:10px 0 -20px 0;}

#details h4 {
  color: #8c8c8c;
  padding-left:10px;
  background: #dddddd;
  margin-bottom: 0px;
  width:100%
}

#details dl{width:100%;
			min-height:245px;
			font-size:.7em;
			}

#details dl dt{
				float:left;
				width:50%;
				text-align:right;
				border-right:2px solid #fff;
				padding:3px;}

#details dl dd{padding:3px;
				float:left;
				width:50%;
				margin:0;}

.dark{background:#eee;}

/* ==========================================================================
   contact styles
   ========================================================================== */

form#contactForm input,
form#contactForm textarea{
	display:block;
	margin-bottom:15px;
	width:99.5%;
	height:25px;
	outline:none;
	padding-left:.5%;
	border-radius:3px;
	border:1px solid rgb(200,200,200);

}

form#contactForm textarea{
	min-height:60px;
	padding-top:.5%;

}

form#contactForm input#submit{
	background:rgb(0,51,102);
	color:#fff;
	height:37px;
	padding-top:3px;
	margin-top:15px;
}

form#contactForm input#submit:hover{
	background:#fff;
	border:1px solid rgb(200,200,200);
	color:rgb(0,51,102);
}





/* ==========================================================================
   other styles
   ========================================================================== */

.confluenceTable {
    border-collapse: collapse;
}

.confluenceTd {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
}

.confluenceTh{
    border: 1px solid black;
    background: lightgray;
    padding: 0.5rem;
    text-align: left;
}
ul.toc-indentation li{
	margin-bottom:10px;}

ul.toc-indentation a{
	color:rgb(100,100,100);
	text-decoration:none;
	font-family:Verdana;
	font-weight:normal;
	font-size:1.1em !important;
}

ul.toc-indentation a:hover{
	text-decoration:underline;
}

ul.toc-indentation li ul li:first-child{
	margin-top:5px;
}

.feed{
	min-height:100%;
}

.feed hr{
	border:none;
}

.feed h5,
.feed h4{
	font-size:1.3em;
	margin-bottom:5px;
}

.feed > :first-child{
	padding:5px 20px 5px 20px !important;
}

.feed p{
	line-height:1.5em;
}

.feed a{
	color:rgb(0, 97, 163);
	text-decoration:none;
	font-weight:bold;
}

.feed a:hover{
	text-decoration:underline;
	color:#000;}

li.p1{
	margin-bottom:10px;
	line-height:1.5em;
}

/* ==========================================================================
   browse styles
   ========================================================================== */

p.breadcrumb{
	background:none;
	margin-top:15px;
	padding-left:0;
}

.breadcrumb a{
	text-decoration:none;
	color:rgb(0,51,102);
	font-weight:bold;
}

.breadcrumb a:hover{
	text-decoration:underline;
}

h2.otherPages{
	margin:-5px 0 0 17px;}


.fix ul{
	list-style-type:none;

}

.fix ul li{
	margin-bottom:15px;
}

.fix ul li a{
	color:rgb(100,100,100);
	font-weight:bold;
	text-decoration:none;
	font-size:1.1em;
}

.fix ul li a:hover{
	text-decoration:underline;
	color:#000;
}

.fix li.pubs-browse-list-theme{
	margin-bottom:15px;
}

.fix li.pubs-browse-list-theme a{
	color:rgb(100,100,100);
	text-decoration:none;
}

.fix li.pubs-browse-list-theme a:hover{
	text-decoration:underline;
	color:#000;
}

.space{
	margin-top:-15px;
	padding:15px;
}

@media screen and (min-width: 700px) {

/* ==========================================================================
   publication.html styles
   ========================================================================== */

  #center {
    clear: both;
    float: right;
    margin-left: 5px;
  }

  #thumbnail {
    display: block;
    float: left;
    margin: 0 10px 15px 0;
  }
  dl#contributors {min-height:50px;
    font-size: .9em;
  }
  dl#contributors .clear {
    clear: none;
  }

  #abstract {
    clear: both;
  }
#center {
  width:162px;
}
  #doi-twitter {
    float: left;
  }
  #altmetric {
    overflow: hidden;
    float: right;
  }
}
/*media query*/
@media screen and (min-width: 768px) {

  #details dl {
    font-size: .9em;
  }

  /* ==========================================================================
     Contact styles
     ========================================================================== */

  form#contactForm input,
  form#contactForm textarea {
    width: 45%;

  }

  form#contactForm input#submit {
    width: 200px;
  }
}
  /*media query*/
  @media screen and (min-width: 1025px) {

    /* ==========================================================================
       Index styles
       ========================================================================== */

    .index_article {
      width: 100%;
      min-height: 600px;
      position: relative;
      padding: 0;
      margin: 0;
    }

    #checklist,
    #options,
    #links {
      width: 59%;
    }

    /* ==========================================================================
       publication.html styles
       ========================================================================== */
    #abstract {
      margin-top: 40px;
      line-height: 1.7em;
    }

    .publicationAsideDesktop {
      float: right;
      display: block;
      width: 30%;
      clear: both
    }

    .publicationAsideDesktop p:first-child {
      float: none;
    }

    .publicationAside {
      display: none;
    }

    #details {
      margin-bottom: 230px;
    }

    /* ==========================================================================
       other styles
       ========================================================================== */

    ul.toc-indentation {
      width: 70%;
    }

    .feed h5 {
      width: 70%;
    }

    .feed p {
      width: 70%;
    }

    li.p1 {
      width: 70%;
    }

    /* ==========================================================================
       browse styles
       ========================================================================== */

    ul#pubs-browse-ul {
      width: 70%;
    }
  }



