
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* ==========================================================================
   contact styles
   ========================================================================== */

form#contactForm input,
form#contactForm textarea{
	display:block;
	margin-bottom:15px;
	width:99.5%;
	height:25px;
	outline:none;
	padding-left:.5%;
	border-radius:3px;
	border:1px solid rgb(200,200,200);

}

form#contactForm textarea{
	min-height:60px;
	padding-top:.5%;

}

form#contactForm input#submit{
	background:rgb(0,51,102);
	color:#fff;
	height:37px;
	padding-top:3px;
	margin-top:15px;
}

form#contactForm input#submit:hover{
	background:#fff;
	border:1px solid rgb(200,200,200);
	color:rgb(0,51,102);
}





/* ==========================================================================
   other styles
   ========================================================================== */

.confluenceTable {
    border-collapse: collapse;
}

.confluenceTd {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
}

.confluenceTh{
    border: 1px solid black;
    background: lightgray;
    padding: 0.5rem;
    text-align: left;
}
ul.toc-indentation li{
	margin-bottom:10px;}

ul.toc-indentation a{
	color:rgb(100,100,100);
	text-decoration:none;
	font-family:Verdana;
	font-weight:normal;
	font-size:1.1em !important;
}

ul.toc-indentation a:hover{
	text-decoration:underline;
}

ul.toc-indentation li ul li:first-child{
	margin-top:5px;
}

.feed{
	min-height:100%;
}

.feed hr{
	border:none;
}

.feed h5,
.feed h4{
	font-size:1.3em;
	margin-bottom:5px;
}

.feed > :first-child{
	padding:5px 20px 5px 20px !important;
}

.feed p{
	line-height:1.5em;
}

.feed a{
	color:rgb(0, 97, 163);
	text-decoration:none;
	font-weight:bold;
}

.feed a:hover{
	text-decoration:underline;
	color:#000;}

li.p1{
	margin-bottom:10px;
	line-height:1.5em;
}

/* ==========================================================================
   browse styles
   ========================================================================== */

p.breadcrumb{
	background:none;
	margin-top:15px;
	padding-left:0;
}

.breadcrumb a{
	text-decoration:none;
	color:rgb(0,51,102);
	font-weight:bold;
}

.breadcrumb a:hover{
	text-decoration:underline;
}

h2.otherPages{
	margin:-5px 0 0 17px;}


.fix ul{
	list-style-type:none;

}

.fix ul li{
	margin-bottom:15px;
}

.fix ul li a{
	color:rgb(100,100,100);
	font-weight:bold;
	text-decoration:none;
	font-size:1.1em;
}

.fix ul li a:hover{
	text-decoration:underline;
	color:#000;
}

.fix li.pubs-browse-list-theme{
	margin-bottom:15px;
}

.fix li.pubs-browse-list-theme a{
	color:rgb(100,100,100);
	text-decoration:none;
}

.fix li.pubs-browse-list-theme a:hover{
	text-decoration:underline;
	color:#000;
}

.space{
	margin-top:-15px;
	padding:15px;
}

/*media query*/
@media screen and (min-width: 768px) {

  /* ==========================================================================
     Contact styles
     ========================================================================== */

  form#contactForm input,
  form#contactForm textarea {
    width: 45%;

  }

  form#contactForm input#submit {
    width: 200px;
  }
}
  /*media query*/
  @media screen and (min-width: 1025px) {

    /* ==========================================================================
       Index styles
       ========================================================================== */

    .index_article {
      width: 100%;
      min-height: 600px;
      position: relative;
      padding: 0;
      margin: 0;
    }

    #checklist,
    #options,
    #links {
      width: 59%;
    }

    /* ==========================================================================
       other styles
       ========================================================================== */

    ul.toc-indentation {
      width: 70%;
    }

    .feed h5 {
      width: 70%;
    }

    .feed p {
      width: 70%;
    }

    li.p1 {
      width: 70%;
    }

    /* ==========================================================================
       browse styles
       ========================================================================== */

    ul#pubs-browse-ul {
      width: 70%;
    }
  }



