$fa-font-path: "./fonts" !default;

@import '../usgs_viz_id';

@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

@import 'bootstrap';
@import '../../node_modules/select2/src/scss/core.scss';
@import 'bootstrap-datetimepicker';

@import '../../node_modules/select2-bootstrap-theme/src/select2-bootstrap.scss';


// Overrides to prevent conflicts between bootstrap and USWDS
.select2-search input[type="search"] {
  float: none;
}

.form-group {
  label {
    margin-top: 0;
  }
  input {
    max-width: inherit
  }

  button {
    margin-top: 0;
  }
}

.checkbox {
  label {
    margin-top: 0;
  }
}

@import 'main';
@import 'pagination';







