$fa-font-path: "./fonts" !default;

@import 'uswds';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

@import 'bootstrap';
@import '../../node_modules/select2/src/scss/core.scss';
@import 'bootstrap-datetimepicker';

@import '../../node_modules/select2-bootstrap-theme/src/select2-bootstrap.scss';

@import '../partials/variables';

// Overrides to prevent conflicts between bootstrap and USWDS
.select2-search input[type="search"] {
  float: none;
}

.form-group {
  label {
    margin-top: 0;
  }
  input {
    max-width: inherit
  }

  button {
    margin-top: 0;
  }
}

.checkbox {
  label {
    margin-top: 0;
  }
}

.clear-search-btn {
    margin-top: 0;
}
#q-text {
  height: auto;
}

#pubswh-navigation {
  .usa-navbar, .usa-nav-inner {
    max-width: none;
    padding-left: 0;
    padding-right: 0
  }
  border-bottom: 1px solid $color-gray-lighter;
}

@import 'main';
@import 'pagination';







