<div class="advanced-search-row">
    <div class="advanced-search-row-label">
        <button class="delete-row" title="Delete row"><span class="fas fa-minus-circle"></span></button>
        <label class="">{{row.displayName}}:</label>
    </div>
    <div class="search-form-map-div" id="{{mapId}}"></div>
    <input type="hidden" name="{{row.name}}" value="{{row.value}}" />
</div>
