{{#each layers}}
    <p>
        <span class="search-title"><a href="{{url}}">{{{title}}}</a></span></br>
        <span class="pubinfo">{{info}}</span></br>
        <button class="filter-button" data-layer-index="{{layerIndex}}">Highlight</button>
    </p>
{{/each}}
