<form style="display: inline;" action="{{ url_for('search_results') }}" method="get" name="q">
    <fieldset id='first' class='fancyform'>
        {{ form.q.label }}{{ form.q(placeholder="search terms") }}
    </fieldset>
    <fieldset id='second' class='fancyform'>
         {{ form.title.label }}{{ form.title(placeholder = 'enter title') }}
         {{ form.contributingOffice.label }}{{ form.contributingOffice() }}
         {{ form.contributor.label }}{{ form.contributor(placeholder = 'Name or part of name') }}
         {{ form.year.label }}{{ form.year(placeholder = 'e.g. 2014') }}
         {{ form.typeName.label }}{{ form.typeName() }}
         {{ form.subtypeName.label }}{{ form.subtypeName() }}
         {{ form.seriesName.label }}{{ form.seriesName() }}
         {{ form.reportNumber.label }}{{ form.reportNumber(placeholder='2014-3113') }}
         {{ form.advanced() }}
    </fieldset>
    <button type="submit" class="btn">Search</button>
</form>