<form style="display: inline;" action="{{ url_for('search_results') }}" method="get" name="q">
    <input type="checkbox" id="advanced" role="button" value="" />
    <fieldset id='first' class='fancyform'>
        {{ form.q(placeholder="search terms") }}
    </fieldset>
    <fieldset id='second' class='fancyform'>
         {{ form.title.label }}{{ form.title(placeholder = 'enter title') }}
         {{ form.contributingOffice.label }}{{ form.contributingOffice(placeholder = 'e.g. Texas Water Science Center') }}
    </fieldset>
    <button type="submit" class="btn">Search</button>
</form>