<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
        <head lang="en">
            <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="USGS Publications Warehouse">
        <meta name="keywords" content>
        <meta name="format-detection" content="telephone=no">
        {% block head %} {% endblock %}
        {% block page_style %}{% endblock page_style %}
        {% assets "css_base" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
        {% endassets %}
        <link rel="stylesheet" href="{{ url_for('static', filename= 'vendor/font-awesome-4.3.0/css/font-awesome.min.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="search" type="application/opensearchdescription+xml" href="{{ url_for('open_search') }}" title="USGS Pubs">
        <link rel="unapi-server" type="application/xml" title="unAPI" href="{{ url_for('unapi') }}" />
        <link rel="alternate" type="application/rss+xml" title="USGS Publications Warehouse RSS Feed" href="https://pubs.er.usgs.gov/pubs-services/publication/rss">
        <script src="{{ url_for('static', filename = 'js/vendor/modernizr-2.6.2.min.js') }}"></script>
        <script>function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }</script>

        </head>
    <body>
           <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            
            <!--[if IE 8]>
				<link rel="stylesheet" href="{{ url_for('static', filename = 'css/ie8.css') }}">
			<![endif]-->
			
        <header>
            <section id="usgs_logo">
                <img src="{{ url_for('static', filename = 'img/usgslogo.jpg') }}" alt="usgs logo"/>
            </section>
            <section id="banner">
                <img src="{{ url_for('static', filename = 'img/banner.png') }}" alt="banner"/>
            </section>
            <section id="header_nav">
                <ul>
                    <li><a href="http://www.usgs.gov" target="_blank">USGS Home</a></li>
                    <li><a href="http://answers.usgs.gov/cgi-bin/gsanswers?tmplt=2/index.php" target="_blank">Contact USGS</a></li>
                    <li><a href="http://search.usgs.gov/" target="_blank">Search USGS</a></li>
                </ul>
            </section>

        </header>

        <nav>
        <ul id="mobile_ul">
            <li onclick="toggle_visibility('mobile_list');"><img id="bars" src="{{ url_for('static', filename='img/bars.png') }}" alt="mobile menu bars"/>
                <ul id="mobile_list">

                        <li><a href="{{ url_for( 'index') }}">USGS Publications Warehouse</a></li>
                        <li><a href="{{ url_for( 'contact') }}">Contact</a></li>
                        <li><a href="{{ url_for('new_pubs') }}">Explore recent publications by USGS Authors</a></li>
                		<li><a href="{{ url_for('browse') }}">Browse all of Pubs Warehouse by Publication type and year</a></li>
                        <li><a href="{{ url_for('faq') }}">FAQS</a></li>
                		<li><a href="{{ url_for('web_service_docs') }}">Web Service Documentation</a></li>
                		<li><a href="{{ url_for('other_resources') }}">Other Resources</a></li>
                		<li><a href="{{ url_for('usgs_series') }}">Descriptions of US Geological Survey Report Series</a></li>
                    </ul>
                </li>
            </ul>
            <img src="{{ url_for('static', filename='img/usgs_logo_mobile.png') }}" alt="usgs mobile logo"/>
        </ul>
            <ul id="desktop_ul">
                <li><a id='nav_title' href="{{ url_for('index') }}">USGS Publications Warehouse</a></li>
                <li><a href="#">Explore</a>
                	<ul id="longer">
                		<li><a href="{{ url_for('new_pubs') }}">Explore recent publications by USGS Authors</a></li>
                		<li><a href="{{ url_for('browse') }}">Browse all of Pubs Warehouse by Publication type and year</a></li>
                	</ul>
                </li>
                <li><a  id="long" href="#">Documentation</a>
                	<ul>
                		<li><a href="{{ url_for('faq') }}">FAQS</a></li>
                		<li><a href="{{ url_for('web_service_docs') }}">Web Service Documentation</a></li>
                		<li><a href="{{ url_for('other_resources') }}">Other Resources</a></li>
                		<li><a href="{{ url_for('usgs_series') }}">Descriptions of US Geological Survey Report Series</a></li>
                	</ul>
                </li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                {% if current_user.is_authenticated() %}<li><a href="{{ url_for('logout_page') }}">Logout</a></li>{% endif %}
            </ul>
            <section id="center">
                <form style="display: inline;" action="{{ url_for('search_results') }}" method="get" name="q">
                    <label for="q">Search:</label>
                    <input id="q" class="headersearch" name="q" placeholder="search terms" type="search" value="">
                </form>
            </section>
            
        </nav>
        {% block main %}{% endblock %}
        <footer>

		<p id="usgsfooterbar">
            <a href="http://www.usgs.gov/laws/accessibility.html" title="Accessibility Policy (Section 508)">Accessibility</a>
            <a href="http://www.usgs.gov/foia/" title="Freedom of Information Act">FOIA</a>
            <a href="http://www.usgs.gov/laws/privacy.html" title="Privacy policies of the U.S. Geological Survey.">Privacy</a>
            <a href="http://www.usgs.gov/laws/policies_notices.html" title="Policies and notices that govern information posted on USGS Web sites.">Policies and Notices</a>
	    </p>

         <p id="usgsfootertext">
                <a href="http://usa.gov/"><img id="usa_gov" src="{{ url_for('static', filename='img/footer_graphic_usagov.jpg') }}" alt="USA.gov logo" title="USAGov: Government Made Easy" width="90" height="26" /></a>
                <a href="http://www.doi.gov/" title="U.S. Department of the Interior">U.S. Department of the Interior</a> |
                <a href="http://www.usgs.gov/" title="U.S. Geological Survey">U.S. Geological Survey</a><br />



                URL: {% block url %}{% endblock %}<br />
                Page Contact Information: <a href="{{ url_for('contact') }}">Pubs Warehouse Contact Page</a><br />

                    Page Last Modified: {% block modtime %}{{ LAST_MODIFIED }}{% endblock %}
         </p>
	     </footer>
	     <script type="application/javascript" src="https://www.usgs.gov/scripts/analytics/usgs-analytics.js"></script>

		<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-1.11.1.min.js') }}"></script>
        {% assets "js_base_libs" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% block page_footer_script %}{% endblock page_footer_script %}

        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ GOOGLE_ANALYTICS_CODE }}', 'auto');
        ga('send', 'pageview');

        </script>





    </body>
</html>