{% extends 'base.html' %}
{% block head %}
    <title>Contact Us- USGS Publications Warehouse</title>
    <meta name="description" content="Contact Form for the USGS Publications Warehouse">
{% endblock %}

{% block main %}
	<div class="space">
	    <h1>Contact us!</h1>
	      <h2>Contact</h2>
	  <form id="contactForm" action="{{ url_for('contact') }}" method=post>
	    {{ contact_form.hidden_tag() }}
		
		{% for name_error in contact_form.name.errors %}
			{{ name_error }}
		{% endfor %}
	    {{ contact_form.name(placeholder="Name") }}
		
		{% for email_error in contact_form.email.errors %}
			{{ email_error }}
		{% endfor %}
	    {{ contact_form.email(placeholder="Email") }}
	
	    {{ contact_form.message(placeholder="Write a Message") }}
	    
	    {% for captcha_error in contact_form.recaptcha.errors %}
	    	{{ captcha_error }}
	    {% endfor %}
	    {{ contact_form.recaptcha }}

	    {{ contact_form.submit }}
	  </form>
  </div>

{% endblock %}
{% block url %}<a href="{{ url_for('contact') }}">http://pubs.er.usgs.gov{{ url_for('contact') }}</a>{% endblock %}