{% extends 'base.html' %}
{% block head %}
    <title>Contact Us- USGS Publications Warehouse</title>
    <meta name="description" content="Contact Form for the USGS Publications Warehouse">
{% endblock %}

{% block main %}
	<div class="space">
	    <h1>Contact us!</h1>
	      <h2>Contact</h2>
	  <form id="contactForm" action="{{ url_for('contact') }}" method=post>
	    {{ form.hidden_tag() }}
	
	    {{ form.name(placeholder="Name") }}
	
	    {{ form.email(placeholder="Email") }}
	
	    {{ form.subject(placeholder="Subject") }}
	
	    {{ form.message(placeholder="Write a Message") }}
	
	    {{ form.submit }}
	  </form>
  </div>

{% endblock %}
{% block url %}<a href="{{ url_for('contact') }}">http://pubs.er.usgs.gov{{ url_for('contact') }}</a>{% endblock %}