
{% extends 'base.html' %}
{% block head %}
    <title>U.S. Geological Survey Publications Warehouse</title>
    <meta name="description" content="The Publications warehouse contains over 130,000 publications that cover the 150 year history of the USGS">
    {% include 'meta.html' %}




{% endblock head %}
{% block main %}

		<main class="container-fluid">
		
            <article class="index_article">
				
	                <section id="welcome">
	                	<h1>Welcome to the USGS Publications Warehouse</h1>
	                    <h3>Pubs Warehouse provides access to over 130,000 publications written by USGS scientists over the century-plus history of the bureau</h3>
	                </section>
	
	                <section id="search">
                        {% if advanced == 'True' %}
                            {% include 'advanced_search_form.html' %}
                            <a href="{{ request.base_url }}">Basic Search</a>
                        {% else %}
                            {% include 'search_form.html' %}
                            <a href="{{ request.url }}?advanced=True">Advanced Search</a>
                        {% endif %}
	                </section>
                
	                <aside id="new_pubs">
	
	                	<h3><a href="{{ url_for('new_pubs') }}">New Publications by USGS Authors</a></h3>

	                	<table>
	                		<td>
	                			<div class="pubs-thumbnail"></div>
	                		</td>
	                	</table>

	                	{% for recent_publication in recent_publications %}
	               			<div class="recent-pubs-title">
	               				<a href="{{ url_for('publication', indexId = recent_publication['indexId']) }}">{{ recent_publication['title']|safe }}</a>
	               			</div>
	               			<div class="recent-pub-info">
	               				{{ recent_publication|display_pub_info }}
	               			</div>
	                	{% endfor %}
	                </aside>
                
                
                 <section id = "twitter">
                     <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/USGS_Pubs" data-widget-id="541086703717347328">Tweets by @USGS_Pubs</a>
                     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                 </section>
	                
	          </article>      
    </main>
{% endblock %}

{% block url %}<a href="{{ url_for('index') }}">http://pubs.er.usgs.gov{{ url_for('index') }}</a>{% endblock %}