{% extends 'base.html' %}
{% block head %}
	<title>New Publications by USGS Authors</title>
	<meta name="description" content="Explore publications from the last seven days">
{% endblock head %}

{% block page_style %}
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/pagination.css') }}">
{% endblock page_style %}

{% block main %}

    <section id="new_pubs">

    {% for pub in new_pubs %}

        <article>
            <h4> {{ pub['title'] }}</h4>
            <p> {{ pub['docAbstract'].split(' ')|join(' ')|striptags }}</p>

        </article>

    {% endfor %}

    </section>

{% endblock main %}