{% extends 'base.html' %}
{% block head %}
	<title>New Publications by USGS Authors</title>
	<meta name="description" content="Explore publications from the last seven days">
{% endblock head %}

{% block page_style %}
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/pagination.css') }}">
{% endblock page_style %}

{% block main %}
<h1>USGS Publications Added in the Last Week.</h1>
    <form id = num_series method="GET" action="/newpubs">
        <p>{{ num_form.num_series }} USGS Numbered Series</p>
        <button type="submit" class="btn"> Search </button>
    </form>

    <section id="new_pub">

    {% for result in new_pubs %}

        <article>

            <h4><a class="search-title" href="{{ url_for('publication', index_id = result['indexId']) }}">{{ result['title']|safe }}</a></h4>
            <p class="pubinfo">{{ result|display_pub_info }}</p>
            {% if result['authorsList']|length > 0 %}<p>{{ result['authorsList']|join(', ') }}</p>{% endif %}
            {% if result['editorsList']|length > 0 %}<p class="searchContributors">{{ result['editorsList']|join(', ') }}, editor(s)</p>{% endif %}
            {% if result['docAbstract']  %} <p>{{ result['docAbstract']|safe }}</p> {% endif %}
        </article>

    {% endfor %}

    </section>

{% endblock main %}
