{% extends 'base.html' %}
{% block head %}
    <title>{{ pubdata['title'] }}</title>
    <meta NAME="title" content="{{ pubdata['title'] }}" />
    <meta name="description" content="{% if pubdata['docAbstract']  %}{{ pubdata['docAbstract'].split(' ')[0:150]|join(' ')|striptags }}...{% endif %}" />
    <META NAME="abstract" CONTENT="{% if pubdata['docAbstract']  %}{{ pubdata['docAbstract']|striptags }}{% endif %}" />
    {% for author in pubdata['authorsList'] %}<meta NAME="author" content="{{ author }}"/>
    {% endfor %}
    <meta name = "revised" content="{{ pubdata['lastModifiedDate'] }}"/>
    <meta name = "created" content="{{ pubdata['displaytoPublicDate'] }}"/>
    <meta name = "date" content="{{ pubdata['publicationYear'] }}"/>



{% endblock head %}



        {% block main %}
        <main role ="main">
            <article itemscope itemtype="http://schema.org/ScholarlyArticle">
                {# this image is being dynamically resized to 200 pixels from whatever it might have been #}
                <img id="thumbnail" src="{{ wsgi_str }}{{ url_for('images', filename=pubdata['displayLinks']['Thumbnail'][0]['url'], width=200) }}" alt="thumbnail"/>

                <hgroup>
                    <h3 itemprop="name">{{ pubdata['title']|safe }}</h3>
                    {% if pubdata['seriesTitle'] %}
                    <h4>{{ pubdata['seriesTitle']['text'] }} {{ pubdata['seriesNumber'] }}{% if pubdata['chapter'] %}-{{ pubdata['chapter'] }}{% endif %}{% if pubdata['subChapter'] %}-{{ pubdata['subChapter'] }}{% endif %}</h4>
                    {% endif %}
                    {% if pubdata['subSeriesTitle'] %}
                    <h5>{{ pubdata['subSeriesTitle'] }}</h5>
                    {% endif %}
                    {% if pubdata['collaboration'] %}
                    <h6>{{ pubdata['collaboration']|safe }}</h6>
                    {% endif %}
                </hgroup>

                <section>
                    <dl id="contributors">
                      <dt>Authored by:</dt>
                      {% for contributor in pubdata['authorsListTyped']  %}
                          {% if contributor['type'] == "person"  %}
                        <dd itemprop="author" itemtype="http://schema.org/Person">{{ contributor['text'] }}{% if not loop.last %},{% endif %}</dd>
                          {% else %}
                         <dd itemprop="author" itemtype="http://schema.org/Organization">{{ contributor['text'] }}{% if not loop.last %},{% endif %}</dd>
                          {% endif %}
                      {%  endfor %}
                      {% if pubdata['editorsList'] %}
                      <dt class="clear">Edited by:</dt>
                      {% for contributor in pubdata['editorsListTyped']  %}
                          {% if contributor['type'] == "person"  %}
                        <dd itemprop="editor" itemtype="http://schema.org/Person">{{ contributor['text'] }}{% if not loop.last %},{% endif %}</dd>
                          {% else %}
                         <dd itemprop="editor" itemtype="http://schema.org/Organization">{{ contributor['text'] }}{% if not loop.last %},{% endif %}</dd>
                          {% endif %}
                      {%  endfor %}
                      {% endif %}
                    </dl>
                </section>
                <section>
                    {% if pubdata['doi'] %}<p>DOI: <a href="http://dx.doi.org/{{ pubdata['doi'] }}">{{ pubdata['doi'] }}</a></p>{% endif %}
                    <a href="https://twitter.com/share" class="twitter-share-button" data-text="USGS Pub" data-via="USGS_Pubs" data-dnt="true">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </section>
                
                <section id="suggested">

                    {% macro linkdisplay(link_type) %}
                        {% for link in pubdata['displayLinks'][link_type]|sort(attribute='rank') %}
                        <li> <a href="{{ link['url'] }}" target="_blank" title="{% if link['description'] %}{{ link['description'] }}
                                                                                    else {{ link['type']['text'] }} {% endif %}"><strong>{{ link["type"]["text"] }}</strong>
                                                                                {% if link["linkFileType"]  %}({{ link["linkFileType"]["text"] }}){% endif %}</a></li>
                        {% endfor %}
                    {% endmacro %}

                    <ul class="plates">
                            {% for link in pubdata['displayLinks']['Plate']|sort(attribute='rank') %}
                            <li> <a href="{{ link['url'] }}" target="_blank" title="{% if link['description'] %}{{ link['description'] }} else {{ link['type']['text'] }} {% endif %}"><strong>{{ link["text"] }}</strong> ({% if link["linkFileType"]  %}{{ link["linkFileType"]["text"] }}{% endif %})</a> </li>
                        {% endfor %}
                    </ul>
                    
                    <ul class="fileslist">
                        {{ linkdisplay('Index Page') }}
                        {{ linkdisplay('Document') }}
                        {{ linkdisplay('Abstract') }}
                        {{ linkdisplay('Additional Report Piece') }}
                        {{ linkdisplay('Appendix') }}
                        {{ linkdisplay('Application Site') }}
                        {{ linkdisplay('Authors Website') }}
                        {{ linkdisplay('Chapter') }}
                        {{ linkdisplay('Companion Files') }}
                        {{ linkdisplay('Cover') }}
                        {{ linkdisplay('Database') }}
                        {{ linkdisplay('Digital Object Identifier') }}
                        {{ linkdisplay('Errata') }}
                        {{ linkdisplay('Illustration') }}
                        {{ linkdisplay('Image') }}
                        {{ linkdisplay('Metadata') }}
                        {{ linkdisplay('Project Site') }}
                        {{ linkdisplay('Raw Data') }}
                        {{ linkdisplay('Read Me') }}
                        {{ linkdisplay('Referenced Work') }}
                        {{ linkdisplay('Related Work') }}
                        {{ linkdisplay('Spatial Data') }}
                        {{ linkdisplay('Version History') }}
                    </ul>


                </section>

                

                <section itemprop="description" id="abstract" >
                    <h2 id="abstract_head">Abstract</h2>
                    {{ pubdata['docAbstract']|safe }}
                    
                </section>

                <section id="details">
                    <h4 id="" class="dark">Additional Publication Details</h4>
                    <dl id="publication_details">
                      {% for detail in pubdata['details'] %}
                          <dt class="{{ loop.cycle('', 'dark') }}">{{ detail.keys()[0] }}</dt>
                          <dd class="{{ loop.cycle('', 'dark') }}">{{ detail.values()[0] }}</dd>
                      {% endfor %}
                    </dl>



                </section>
                
                <aside>
                    <p class="adobeReader"><small>Part or all of this report is presented in Portable Document Format (PDF). For best results viewing and printing PDF documents, it is recommended that you download the documents to your computer and open them with Adobe Reader. PDF documents opened from your browser may not display or print as intended. Download the latest version of <a href="http://get.adobe.com/reader/">Adobe Reader</a>, free of charge. More information about viewing, downloading, and printing report files can be found <a href="http://pubs.usgs.gov/potential_problems.html">here</a>.</small></p>
                </aside>

            </article>
        </main>
        {% endblock %}

        {% block url %}<a href="{{ url_for('publication', indexId = pubdata['indexId']) }}">http://pubs.er.usgs.gov{{ url_for('publication', indexId = pubdata['indexId']) }}</a>{% endblock %}
        {% block modtime %}{{ pubdata['formattedModifiedDateTime'] }}{% endblock %}

