{% extends 'base.html' %}
{% block head %}
    <title>{{ pubdata['title'] }}</title>
    <meta NAME="title" content="{{ pubdata['title'] }}" />
    <meta name="description" content="{% if pubdata['docAbstract']  %}{{ pubdata['docAbstract'].split(' ')[0:150]|join(' ')|striptags }}...{% endif %}" />
    <META NAME="abstract" CONTENT="{% if pubdata['docAbstract']  %}{{ pubdata['docAbstract']|striptags }}{% endif %}" />
    {% for author in pubdata['authorsList'] %}<meta NAME="author" content="{{ author }}"/>
    {% endfor %}
    <meta name = "revised" content="{{ pubdata['lastModifiedDate'] }}"/>
    <meta name = "created" content="{{ pubdata['displaytoPublicDate'] }}"/>
    <meta name = "date" content="{{ pubdata['publicationYear'] }}"/>
    {% block page_script %}
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/leaflet.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/leaflet-0.7.3/leaflet.js') }}"></script>
    {% endblock page_script %}


{% endblock head %}



        {% block main %}
        <main role ="main">
            <article itemscope itemtype="http://schema.org/ScholarlyArticle">
                {# this image is being dynamically resized to 200 pixels from whatever it might have been #}
                <img id="thumbnail" src="{{ wsgi_str }}{{ url_for('images', filename=pubdata['displayLinks']['Thumbnail'][0]['url'], width=200) }}" alt="thumbnail"/>

                <hgroup>
                    <h3 itemprop="name">{{ pubdata['title']|safe }}</h3>
                    {% if pubdata['seriesTitle'] %}
                    <h4>{{ pubdata['seriesTitle']['text'] }} {{ pubdata['seriesNumber'] }}{% if pubdata['chapter'] %}-{{ pubdata['chapter'] }}{% endif %}{% if pubdata['subChapter'] %}-{{ pubdata['subChapter'] }}{% endif %}</h4>
                    {% endif %}
                    {% if pubdata['subSeriesTitle'] %}
                    <h5>{{ pubdata['subSeriesTitle'] }}</h5>
                    {% endif %}
                    {% if pubdata['collaboration'] %}
                    <h6>{{ pubdata['collaboration']|safe }}</h6>
                    {% endif %}
                </hgroup>

                <section>
                    <dl id="contributors">
                      <dt>Authored by:</dt>
                        <dd>
                      {%- for contributor in pubdata['authorsListTyped']  -%}
                          {%- if contributor['type'] == "person"  -%}
                        <span itemprop="author" itemtype="http://schema.org/Person">{{ contributor['text'] }}</span>
                          {%- else -%}
                         <span itemprop="author" itemtype="http://schema.org/Organization">{{ contributor['text'] }}</span>
                          {%- endif -%}
                          {% if not loop.last %}, {% endif %}

                      {%-  endfor -%}
                        </dd>
                      {% if pubdata['editorsList'] %}
                      <dt class="clear">Edited by:</dt>
                      <dd>
                          {%- for contributor in pubdata['editorsListTyped']  -%}
                          {%- if contributor['type'] == "person"  -%}
                        <span itemprop="editor" itemtype="http://schema.org/Person">{{ contributor['text'] }}</span>
                          {%- else -%}
                         <span itemprop="editor" itemtype="http://schema.org/Organization">{{ contributor['text'] }}</span>
                          {%- endif -%}
                          {% if not loop.last %}, {% endif %}
                      {%-  endfor -%}
                          </dd>
                      {%- endif -%}
                    </dl>
                </section>
                <section>
                    {% if pubdata['doi'] %}<p>DOI: <a href="http://dx.doi.org/{{ pubdata['doi'] }}">{{ pubdata['doi'] }}</a></p>{% endif %}
                    <a href="https://twitter.com/share" class="twitter-share-button" data-text="USGS Pub" data-via="USGS_Pubs" data-dnt="true">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </section>
                
                <section id="suggested">
                    {% macro linkdisplay(link) -%}
                        <a href="{{ link['url'] }}" target="_blank" title="{% if link['description'] %}{{ link['description'] }}{% else %}{{ link['type']['text'] }}{% endif -%}">
                            <strong>
                            {%- if link['text'] -%}
                                {{- link['text'] -}}
                            {%- else -%}
                                {{- link['type']['text'] -}}
                            {%- endif -%}
                            </strong>
                            {%- if link["linkFileType"] and link["size"]   %}
                                 ({{ link["size"] }} {{ link["linkFileType"]["text"] }})
                            {% elif link["linkFileType"] %}
                                ({{ link["linkFileType"]["text"] }})
                            {%- elif link["size"]   %}
                                 ({{ link["size"] }})
                            {% endif -%}
                            </a>
                    {%- endmacro %}

                    {%- macro linkdisplaylists(link_type, link_type_text) -%}
                        {% if pubdata['displayLinks'][link_type]|length == 1  %}
                            <li>{{ link_type }}: {{ linkdisplay(pubdata['displayLinks'][link_type][0]) }}</li>
                        {%- elif pubdata['displayLinks'][link_type]|length > 1 -%}
                            <li>{{ link_type_text }}</li>
                            <ul class="filessublist">
                            {%- for link in pubdata['displayLinks'][link_type]|sort(attribute='rank') -%}
                                <li>{{ linkdisplay(link) }}</li>
                            {%- endfor -%}
                            </ul>
                        {% endif %}
                    {%- endmacro -%}
                    <h4>Outside Links:</h4>
                    <ul class="fileslist">
                        {{- linkdisplaylists('Index Page','Index Pages') -}}
                        {{- linkdisplaylists('Document','Documents') -}}
                        {{- linkdisplaylists('Plate','Plates')  -}}
                        {{- linkdisplaylists('Abstract','Abstract') -}}
                        {{- linkdisplaylists('Additional Report Piece','Additional Report Pieces') -}}
                        {{- linkdisplaylists('Appendix', 'Appendices') -}}
                        {{- linkdisplaylists('Application Site','Application Sites') -}}
                        {{- linkdisplaylists('Authors Website','Authors Website') -}}
                        {{- linkdisplaylists('Chapter','Chapters') -}}
                        {{- linkdisplaylists('Companion Files','Companion Files') -}}
                        {{- linkdisplaylists('Cover','Covers') -}}
                        {{- linkdisplaylists('Database','Databases') -}}
                        {{- linkdisplaylists('Digital Object Identifier','Digital Object Identifiers') -}}
                        {{- linkdisplaylists('Errata','Errata') -}}
                        {{- linkdisplaylists('Illustration','Illustration') -}}
                        {{- linkdisplaylists('Image','Image') -}}
                        {{- linkdisplaylists('Metadata','Metadata') -}}
                        {{- linkdisplaylists('Project Site','Project Sites') -}}
                        {{- linkdisplaylists('Raw Data', 'Raw Data') -}}
                        {{- linkdisplaylists('Read Me','Read Me') -}}
                        {{- linkdisplaylists('Referenced Work','Referenced Work') -}}
                        {{- linkdisplaylists('Related Work','Related Works') -}}
                        {{- linkdisplaylists('Spatial Data','Spatial Data') -}}
                        {{- linkdisplaylists('Version History','Version History') -}}
                    </ul>
                </section>
                <section itemprop="description" id="abstract" >
                    <h2 id="abstract_head">Abstract</h2>
                    {{ pubdata['docAbstract']|safe }}
                </section>
                {%- if pubdata["geographicExtents"] -%}
                <section>
                    <h4>Geospatial Extents</h4>
                    <div id="mymap" style="width:90%;height:450px;"></div>

                </section>
                {%- endif -%}

                <section id="details">
                    <h4 id="" class="dark">Additional Publication Details</h4>
                    <dl id="publication_details">
                      {% for detail in pubdata['details'] %}
                          <dt class="{{ loop.cycle('', 'dark') }}">{{ detail.keys()[0] }}</dt>
                          <dd class="{{ loop.cycle('', 'dark') }}">{{ detail.values()[0] }}</dd>
                      {% endfor %}
                    </dl>
                </section>
            </article>
        </main>
        {% endblock %}

        {% block url %}<a href="{{ url_for('publication', indexId = pubdata['indexId']) }}">http://pubs.er.usgs.gov{{ url_for('publication', indexId = pubdata['indexId']) }}</a>{% endblock %}
        {% block modtime %}{{ pubdata['formattedModifiedDateTime'] }}{% endblock %}
        {% block page_footer_script %}
        {%- if pubdata["geographicExtents"] -%}
        <script type=text/javascript>

                        // create a map
                        map = new L.Map('mymap');

                        // create the OpenStreetMap layer
                        osmTile = "https://b.tile.openstreetmap.org/{z}/{x}/{y}.png";
                        osmCopyright = "Map data &copy; 2012 OpenStreetMap contributors";
                        osmLayer = new L.TileLayer(osmTile, { maxZoom: 18, attribution: osmCopyright } );
                        map.addLayer(osmLayer);

                        // include GeoJSON inside this JavaScript
                        var pubextent = {{ pubdata["geographicExtents"]|tojson|safe }};
                        L.geoJson( pubextent ).addTo(map);

                        map.fitBounds(L.geoJson( pubextent ).getBounds());
                    </script>
            {% endif %}
        {% endblock page_footer_script %}

