{% extends 'base.html' %}
{% block head %}
    <title>{{ pubdata['title'] }}</title>
    <meta NAME="title" content="{{ pubdata['title'] }}" />
    <meta name="description" content="{% if pubdata['docAbstract']  %}{{ pubdata['docAbstract'].split(' ')[0:150]|join(' ')|striptags }}...{% endif %}" />
    <META NAME="abstract" CONTENT="{% if pubdata['docAbstract']  %}{{ pubdata['docAbstract']|striptags }}{% endif %}" />
    {% for author in pubdata['authorsList'] %}<meta NAME="author" content="{{ author }}"/>{% endfor %}
    <meta name = "revised" content="{{ pubdata['lastModifiedDate'] }}"/>
    <meta name = "created" content="{{ pubdata['displaytoPublicDate'] }}"/>
    <meta name = "date" content="{{ pubdata['publicationYear'] }}"/>

    <!-- meta tags for google scholar indexing and zotero/mendeley parsing -->
    <meta name="citation_title" content="{{ pubdata['title'] }}" />
    <meta name="citation_publication_date" content="{{ pubdata['publicationYear'] }}" />
    <meta name="citation_date" content="{{ pubdata['publicationYear'] }}" />
    <meta name="citation_online_date" content="{{ pubdata['displayToPublicDate'] }}" />
    {% for author in pubdata['authorsList'] %}<meta NAME="citation_author" content="{{ author }}"/>{% endfor %}
    {% if pubdata['abstract'] %}<meta name="citation_abstract" content="{{ pubdata['abstract']|striptags }}" />{% endif %}
    {% if pubdata['displayLinks']['document']|length > 0  %}<meta name="citation_pdf_url" content="{{ pubdata['displayLinks']['document'][0] }}" />{% endif %}
    {% if pubdata['conferenceTitle'] %}<meta name="citation_conference_title" content="{{ pubdata['conferenceTitle'] }}" />{% endif %}
    {% if pubdata['seriesTitle'] %}<meta name="citation_journal_title" content="{{ pubdata['seriesTitle']['text'] }}" />{% endif %}
    {% if pubdata['volume'] %}<meta name="citation_volume" content="{{ pubdata['volume'] }}" />{% endif %}
    {% if pubdata['issue'] %}<meta name="citation_issue" content="{{ pubdata['issue'] }}" />{% endif %}
    {% if pubdata['seriesTitle']%}<meta name="citation_issn" content="{{ pubdata['seriesTitle']['onlineIssn'] }}" />{% endif %}
    {% if pubdata['isbn'] %}<meta name="citation_isbn" content="{{ pubdata['isbn'] }}" />{% endif %}
    {% if pubdata['startPage'] %}<meta name="citation_firstpage" content="{{ pubdata['startPage'] }}" />{% endif %}
    {% if pubdata['endPage'] %}<meta name="citation_lastpage" content="{{ pubdata['endPage'] }}" />{% endif %}
    {% if pubdata['publicationType'] %}
        {% if pubdata['publicationType']['text'] == 'Thesis' %}<meta name="citation_dissertation_institution" content="{{ pubdata['publisher'] }}" />{% endif %}
        {% if pubdata['publicationType']['text'] == 'Report' %}<meta name="citation_technical_report_institution" content="{{ pubdata['publisher'] }}" />{% endif %}
        {% if pubdata['publicationType']['text'] == 'Report' %}<meta name="citation_technical_report_number" content="{{ pubdata['seriesNumber'] }}{% if pubdata['chapter'] %}-{{ pubdata['chapter'] }}{% endif %}" />{% endif %}
    {% endif %}
    {% if pubdata['doi'] %}<meta name="citation_doi" content="{{ pubdata['doi'] }}" />{% endif %}


    {% block page_script %}
       {%- if pubdata["geographicExtents"] -%}
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/leaflet.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/leaflet-0.7.3/leaflet.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/esri-leaflet-basemaps.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/esri-leaflet-basemaps.js.map') }}"></script>
       {% endif %}
    {% endblock page_script %}


{% endblock head %}



        {% block main %}
        <main role ="main">
            <article itemscope itemtype="http://schema.org/ScholarlyArticle">

            {% macro thumbnail_image() %}
                {# this image is being dynamically resized to 200 pixels from whatever it might have been #}
                <img id="thumbnail" src="{{ wsgi_str }}{{ url_for('images', filename=pubdata['displayLinks']['Thumbnail'][0]['url'], width=200) }}" alt="thumbnail"/>
            {% endmacro %}

            {% if pubdata['displayLinks']['Document']|length >= 1 %}
                <a title ="Main document link, right click the download or save as" href="{{ pubdata['displayLinks']['Document'][0]['url'] }}">{{ thumbnail_image() }}</a>
            {% elif pubdata['displayLinks']['Index Page']|length >= 1 %}
                <a title ="Go to {% if pubdata['displayLinks']['Index Page'][0]['text'] -%}
                                    {{- pubdata['displayLinks']['Index Page'][0]['text'] -}}
                                {%- else -%} Publisher Index Page
                                {%- endif  %} for more information" href="{{ pubdata['displayLinks']['Index Page'][0]['url'] }}">{{ thumbnail_image() }}</a>
            {% else %}
                {{ thumbnail_image() }}
            {% endif %}
                <hgroup>
                    <h3 itemprop="name">{{ pubdata['title']|safe }}</h3>
                    {% if pubdata['seriesTitle'] %}
                    <h4>{{ pubdata['seriesTitle']['text'] }} {{ pubdata['seriesNumber'] }}{% if pubdata['chapter'] %}-{{ pubdata['chapter'] }}{% endif %}{% if pubdata['subChapter'] %}-{{ pubdata['subChapter'] }}{% endif %}</h4>
                    {% endif %}
                    {% if pubdata['subSeriesTitle'] %}
                    <h5>{{ pubdata['subSeriesTitle'] }}</h5>
                    {% endif %}
                    {% if pubdata['collaboration'] %}
                    <h6>{{ pubdata['collaboration']|safe }}</h6>
                    {% endif %}
                </hgroup>

                <section>
                    <dl id="contributors">
                      <dt>By:</dt>
                        <dd>
                      {%- for contributor in pubdata['authorsListTyped']  -%}
                          {%- if contributor['type'] == "person"  -%}
                        <span itemprop="author" itemtype="http://schema.org/Person">{{ contributor['text'] }}</span>
                          {%- else -%}
                         <span itemprop="author" itemtype="http://schema.org/Organization">{{ contributor['text'] }}</span>
                          {%- endif -%}
                          {% if not loop.last %}, {% endif %}

                      {%-  endfor -%}
                        </dd>
                      {% if pubdata['editorsList'] %}
                      <dt class="clear">Edited by:</dt>
                      <dd>
                          {%- for contributor in pubdata['editorsListTyped']  -%}
                          {%- if contributor['type'] == "person"  -%}
                        <span itemprop="editor" itemtype="http://schema.org/Person">{{ contributor['text'] }}</span>
                          {%- else -%}
                         <span itemprop="editor" itemtype="http://schema.org/Organization">{{ contributor['text'] }}</span>
                          {%- endif -%}
                          {% if not loop.last %}, {% endif %}
                      {%-  endfor -%}
                          </dd>
                      {%- endif -%}
                    </dl>
                </section>
                <section>
                    {% if pubdata['doi'] %}<h6>DOI: <a itemprop="sameAs" href="http://dx.doi.org/{{ pubdata['doi'] }}">{{ pubdata['doi'] }}</a></h6>{% endif %}
                    <a href="https://twitter.com/share" class="twitter-share-button" data-text="USGS Pub" data-via="USGS_Pubs" data-dnt="true">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </section>
                
                <section id="suggested">
                    {% macro linkdisplay(link) -%}
                        <a href="{{ link['url'] }}" target="_blank" title="{% if link['description'] %}{{ link['description'] }}{% else %}{{ link['type']['text'] }}{% endif -%}">
                            <strong>
                            {%- if link['text'] -%}
                                {{- link['text'] -}}
                            {%- else -%}
                                {{- link['type']['text'] -}}
                            {%- endif -%}
                            </strong>
                            {%- if link["linkFileType"] and link["size"]   %}
                                 ({{ link["size"] }} {{ link["linkFileType"]["text"] }})
                            {% elif link["linkFileType"] %}
                                ({{ link["linkFileType"]["text"] }})
                            {%- elif link["size"]   %}
                                 ({{ link["size"] }})
                            {% endif -%}
                            </a>
                    {%- endmacro %}

                    {%- macro linkdisplaylists(link_type, link_type_text_single, link_type_text_multiple) -%}
                        {% if pubdata['displayLinks'][link_type]|length == 1  %}
                            <li>{{ link_type_text_single }}: {{ linkdisplay(pubdata['displayLinks'][link_type][0]) }}</li>
                        {%- elif pubdata['displayLinks'][link_type]|length > 1 -%}
                            <li>{{ link_type_text_multiple }}</li>
                            <ul class="filessublist">
                            {%- for link in pubdata['displayLinks'][link_type]|sort(attribute='rank') -%}
                                <li>{{ linkdisplay(link) }}</li>
                            {%- endfor -%}
                            </ul>
                        {% endif %}
                    {%- endmacro -%}
                    <h4>Links</h4>
                    <ul class="fileslist">
                        {{- linkdisplaylists('Index Page','More information','More Information') -}}
                        {{- linkdisplaylists('Document','Document','Documents') -}}
                        {{- linkdisplaylists('Plate', 'Plate','Plates')  -}}
                        {{- linkdisplaylists('Abstract','Abstract','Abstracts') -}}
                        {{- linkdisplaylists('Additional Report Piece','Additional Report Piece','Additional Report Pieces') -}}
                        {{- linkdisplaylists('Appendix', 'Appendix', 'Appendices') -}}
                        {{- linkdisplaylists('Application Site','Application Site','Application Sites') -}}
                        {{- linkdisplaylists('Authors Website','Authors Website','Authors Website') -}}
                        {{- linkdisplaylists('Chapter','Chapter','Chapters') -}}
                        {{- linkdisplaylists('Companion Files','Companion File','Companion Files') -}}
                        {{- linkdisplaylists('Cover','Cover','Covers') -}}
                        {{- linkdisplaylists('Database','Database','Databases') -}}
                        {{- linkdisplaylists('Errata','Errata','Errata') -}}
                        {{- linkdisplaylists('Illustration','Illustration','Illustration') -}}
                        {{- linkdisplaylists('Image','Image','Image') -}}
                        {{- linkdisplaylists('Metadata','Metadata','Metadata') -}}
                        {{- linkdisplaylists('Project Site','Project Site','Project Sites') -}}
                        {{- linkdisplaylists('Raw Data', 'Raw Data', 'Raw Data') -}}
                        {{- linkdisplaylists('Read Me','Read Me','Read Me') -}}
                        {{- linkdisplaylists('Referenced Work','Referenced Work','Referenced Work') -}}
                        {{- linkdisplaylists('Related Work','Related Work','Related Works') -}}
                        {{- linkdisplaylists('Spatial Data','Spatial Data','Spatial Data') -}}
                        {{- linkdisplaylists('Version History','Version History','Version History') -}}
                    </ul>
                </section>
                <section itemprop="description" id="abstract" >
                    <h4 id="abstract_head">Abstract</h4>
                    {{ pubdata['docAbstract']|safe }}
                </section>
                {%- if pubdata["geographicExtents"] -%}
                <section>
                    <h4>Geospatial Extents</h4>
                    <div id="mymap" style="width:90%;height:450px;"></div>

                </section>
                {%- endif -%}

                <section id="details">
                    <h4 id="" class="dark">Additional Publication Details</h4>
                    <dl id="publication_details">
                      {% for detail in pubdata['details'] %}
                          <dt class="{{ loop.cycle('', 'dark') }}">{{ detail.keys()[0] }}</dt>
                          <dd class="{{ loop.cycle('', 'dark') }}">{{ detail.values()[0] }}</dd>
                      {% endfor %}
                    </dl>
                </section>
            </article>
        </main>
        {% endblock %}

        {% block url %}<a href="{{ url_for('publication', index_id = pubdata['indexId']) }}">http://pubs.er.usgs.gov{{ url_for('publication', index_id = pubdata['indexId']) }}</a>{% endblock %}
        {% block modtime %}{{ pubdata['formattedModifiedDateTime'] }}{% endblock %}
        {% block page_footer_script %}
        {%- if pubdata["geographicExtents"] -%}
        <script type=text/javascript>




                        //add esri basemap layers
                        var topo = L.esri.basemapLayer('Topographic'),
                         oceans = L.esri.basemapLayer('Oceans',{ detectRetina: true}),
                                streets = L.esri.basemapLayer('Streets');

                        var oceanlabels =  L.esri.basemapLayer('OceansLabels')

                        // create a map

                        map = new L.Map('mymap', {layers:[topo]});

                        var baseMaps = {
                            "Oceans": oceans,
                            "Topographic": topo,
                            "Streets": streets

                        };

                        var overlayMaps = {
                            "Ocean Labels": oceanlabels
                        };

                        L.control.layers(baseMaps, overlayMaps).addTo(map);


                        // include GeoJSON inside this JavaScript
                        var pubextent = {{ pubdata["geographicExtents"]|tojson|safe }};
                        L.geoJson( pubextent ).addTo(map);



                        map.fitBounds(L.geoJson( pubextent ).getBounds());
                    </script>
            {% endif %}
        {% endblock page_footer_script %}

