{# this template is the block of code that we put in if the publication has information for the SPN- contact information, etc #}
{% if pubdata['publishedDate'] %}
    <p>First Posted {{ pubdata['publishedDate']|date_format }}</p>
{% endif %}

{% if pubdata['revisedDate'] and pubdata['displayLinks']['Version History']|length > 0 %}
    <p><a href='{{ pubdata['displayLinks']['Version History'][0]['url'] }}'>Revised {{ pubdata['revisedDate']|date_format }}</a></p>
{% elif pubdata['revisedDate']%}
    <p>Revised {{ pubdata['revisedDate']|date_format }}</p>
{% endif %}


{% if pubdata['contact'] %}
    <strong>For additional information contact:</strong><br/>
{{ pubdata['contact']|safe }}
{% endif %}



