#skip {
  a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  a:focus {
    position: static;
    width: auto;
    height: auto;
  }
}
.usgs-header {
  background-color: $usgs-blue;
  .usgs-banner-container {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    a {
      color: white;
      text-decoration: none;
    }
    .usa-menu-btn {
        height: 58px;
        @include media($small-screen) {
          height: 86px;
      }
    }

    .usgs-logo {
      display: inline-block;
      img {
        vertical-align: bottom;
        height: 44px;
        margin: .5em;
        @include media($small-screen) {
          height: 51px;
          margin: 1em;
        }
        @include media($medium-screen) {
          height: 58px;
        }
        @include media($large-screen) {
          height: 65px;
        }
      }
    }
  }
}
.usgs-navigation {
  .usa-navbar, .usa-nav-inner {
    max-width: none;
    padding-left: 0;
    padding-right: 0
  }
  border-bottom: 1px solid $color-gray-lighter;
  @media screen and (min-width: $nav-width) {
    .usa-nav-primary > li:first-child {
      margin-left: $site-margins;
    }
  }
}
