<div id="bibliodata" class="form-horizontal">
	<div id="pub-type-div" class="form-group">
		<label class="control-label" for="pub-type-input">Publication Type</label>

		<div>
			<select id="pub-type-input" class="form-control" data-placeholder="Select a publication type"
					style="width: 100%">
			</select>
		</div>
	</div>
	<div id="pub-subtype-div" class="form-group">
		<label class="control-label" for="pub-subtype-input">Publication Subtype</label>

		<div>
			<select id="pub-subtype-input" class="form-control" data-placeholder="Select a publication subtype"
					style="width: 100%">
			</select>
		</div>
	</div>
	<div id="series-title-tiv" class="form-group">
		<label class="control-label" for="series-title-input">Series Title</label>

		<div>
			<select id="series-title-input" class="form-control" data-placeholder="Select a series" style="width: 100%">
			</select>
		</div>
	</div>
	<div class="form-group" id="cost-centers-div">
		<label class="control-label" for="cost-centers-input">Cost Centers</label>

		<div>
			<select id="cost-centers-input" class="form-control" data-placeholder="Select one or more cost centers"
					multiple style="width: 100%">
			</select>
		</div>
	</div>
	<div class="form-group" id="subseries-div">
		<label class="control-label" for="subseries-input">Subseries</label>

		<div>
			<input id="subseries-input" type="text" class="form-control"/>
		</div>
	</div>
	<div class="form-group" id="series-number-div">
		<label class="control-label" for="series-number-input">Series Number</label>

		<div>
			<input id="series-number-input" type="text" class="form-control"/>
		</div>
	</div>
	<div class="form-group" id="chapter-div">
		<label class="control-label" for="chapter-input">Chapter</label>

		<div>
			<input id="chapter-input" type="text" class="form-control"/>
		</div>
	</div>
	<div class="form-group" id="subchapter-div">
		<label class="control-label" for="subchapter-input">Subchapter</label>

		<div>
			<input id="subchapter-input" type="text" class="form-control"/>
		</div>
	</div>
	<div class="form-group" id="title-div">
		<label class="control-label" for="title-input">Title</label>

		<div>
			<input id="title-input" type="text" class="form-control"/>
		</div>
	</div>
	<div class="form-group" id="docAbstract-div">
		<label class="control-label" for="docAbstract-input">Abstract</label>

		<div>
			<textarea id="docAbstract-input" class="form-control"></textarea>
		</div>
	</div>
	<div class="form-group" id="usgs-citation-div">
		<label class="control-label" for="usgs-citation-input">USGS Citation</label>

		<div>
			<textarea id="usgs-citation-input" class="form-control"></textarea>
		</div>
	</div>
	<div class="form-group" id="collaboration-div">
		<label class="control-label" for="collaboration-input">Collaboration</label>

		<div>
			<input id="collaboration-input" type="text" class="form-control"/>
		</div>
	</div>
	<div id="larger-work-type-div" class="form-group">
		<label class="control-label" for="larger-work-type-input">Larger Work Type</label>

		<div>
			<select id="larger-work-type-input" class="form-control" data-placeholder="Select a larger work type"
					style="width: 100%">
			</select>
		</div>
	</div>
	<div id="larger-work-subtype-div" class="form-group">
		<label class="control-label" for="larger-work-subtype-input">Larger Work Subtype</label>

		<div>
			<select id="larger-work-subtype-input" class="form-control" data-placeholder="Select a larger work subtype"
					style="width: 100%">
			</select>
		</div>
	</div>
	<div class="form-group" id="larger-work-title-div">
		<label class="control-label" for="larger-work-title-input">Larger Work Title</label>

		<div>
			<input id="larger-work-title-input" type="text" class="form-control"/>
		</div>
	</div>
	<div class="form-group" id="language-div">
		<label class="control-label" for="title-input">Language</label>

		<div>
			<input id="language-input" type="text" class="form-control"/>
		</div>
	</div>
	<div class="form-group" id="publisher-div">
		<label class="control-label" for="publisher-input">Publisher</label>
		<div>
			<input id="publisher-input" type="text" class="form-control"/>
		</div>
	</div>
	<div class="form-group" id="publisher-location-div">
		<label class="control-label" for="publisher-location-input">Publisher Location</label>

		<div>
			<input id="publisher-location-input" type="text" class="form-control"/>
		</div>
	</div>
    <div class="form-group" id="publication-year-div">
        <label class="control-label" for="publication-input">Publication Year</label>

        <div>
            <input id="publication-year-input" type="text" class="form-control"/>
        </div>
    </div>
    <div class="form-group" id="no-year-div">
        <label class="control-label" for="no-year-input">No Publication Year</label>

        <div>
            <input id="no-year-input" type="checkbox">
        </div>
    </div>
	<div class="form-group" id="conference-title-div">
		<label class="control-label" for="isbn-input">Conference Title</label>

		<div>
			<input id="conference-title-input" type="text" class="form-control"/>
		</div>
	</div>
	<div class="form-group" id="conference-date-div">
		<label class="control-label" for="isbn-input">Conference Date</label>

		<div>
			<input id="conference-date-input" type="text" class="form-control"/>
		</div>
	</div>
	<div class="form-group" id="conference-location-div">
		<label class="control-label" for="isbn-input">Conference Location</label>

		<div>
			<input id="conference-location-input" type="text" class="form-control"/>
		</div>
	</div>
	<div class="form-group" id="doi-div">
		<label class="control-label" for="doi-input">DOI</label>

		<div>
			<input id="doi-input" type="text" class="form-control"/>
		</div>
	</div>
	<div class="form-group" id="issn-div">
		<label class="control-label" for="issn-input">ISSN</label>

		<div>
			<input id="issn-input" type="text" class="form-control"/>
		</div>
	</div>
	<div class="form-group" id="isbn-div">
		<label class="control-label" for="isbn-input">ISBN</label>

		<div>
			<input id="isbn-input" type="text" class="form-control"/>
		</div>
	</div>
	<div class="form-group" id="tableOfContents-div">
		<label class="control-label" for="tableOfContents-input">Table of Contents</label>

		<div id="tableOfContents-input-div">
			<textarea id="tableOfContents-input" class="form-control"></textarea>
		</div>
	</div>
	<div class="form-group" id="update-date-div">
		<label class="control-label">Last Modified Date</label>

		<div>
			<input id="update-date-input" type="text" class="form-control" readonly/>
		</div>
	</div>
</div>