<div id="catalog" class="form-horizontal">
	<div id="pub-prod-desc-div" class="form-group">
		<label class="control-label col-sm-3" for="prod-desc-input">Product Description</label>
		<div class="col-sm-9">
            <input id="prod-desc-input" type="text" class="form-control" />
		</div>
	</div>
	<div id="pub-volume-div" class="form-group">
		<label class="control-label col-sm-3" for="volume-input">Volume</label>
		<div class="col-sm-9">
            <input id="volume-input" type="text" class="form-control" />
		</div>
	</div>
	<div id="pub-issue-div" class="form-group">
		<label class="control-label col-sm-3" for="issue-input">Issue</label>
		<div class="col-sm-9">
            <input id="issue-input" type="text" class="form-control"/>
		</div>
	</div>
	<div id="pub-edition-div" class="form-group">
		<label class="control-label col-sm-3" for="edition-input">Edition</label>
		<div class="col-sm-9">
            <input id="edition-input" type="text" class="form-control"/>
		</div>
	</div>
	<div id="pub-start-page-div" class="form-group">
		<label class="control-label col-sm-3" for="start-page-input">Start Page</label>
		<div class="col-sm-9">
            <input id="start-page-input" type="text" class="form-control" />
		</div>
	</div>
	<div id="pub-end-page-div" class="form-group">
		<label class="control-label col-sm-3" for="end-page-input">End Page</label>
		<div class="col-sm-9">
            <input id="end-page-input" type="text" class="form-control" />
		</div>
	</div>
	<div id="pub-num-pages-div" class="form-group">
		<label class="control-label col-sm-3" for="num-pages-input">Number of Pages</label>
		<div class="col-sm-9">
            <input id="num-pages-input" type="text" class="form-control" />
		</div>
	</div>
	<div id="pub-online-only-div" class="form-group">
		<label class="control-label col-sm-3" for="online-only-input">Online Only</label>
		<div class="col-sm-9">
			<input id="online-only-input" type="checkbox"">
		</div>
	</div>
	<div id="pub-additional-files-div" class="form-group">
		<label class="control-label col-sm-3" for="additional-files-input">Additional Online Files</label>
		<div class="col-sm-9">
			<input id="additional-files-input" type="checkbox">
		</div>
	</div>
	<div id="pub-temporal-start-div" class="form-group">
		<label class="control-label col-sm-3" for="temporal-start-input">Temporal Start</label>
		<div class="input-group date" id="temporal-start-input-div">
			<input type="text" id="temporal-start-input" class="form-control" />
			<span class="input-group-addon">
				<i class="fa fa-calendar"></i>
			</span>
		</div>
	</div>
	<div id="pub-temporal-end-div" class="form-group">
		<label class="control-label col-sm-3" for="temporal-end-input">Temporal End</label>
		<div class="input-group date" id="temporal-end-input-div">
			<input type="text" id="temporal-end-input" class="form-control" />
			<span class="input-group-addon">
				<i class="fa fa-calendar"></i>
			</span>
		</div>
	</div>
	<div id="pub-notes-div" class="form-group">
		<label class="control-label col-sm-3" for="notes-input">Notes</label>
        <div class="col-sm-9">
            <textarea id="notes-input" class="form-control" ></textarea>
        </div>
	</div>
	<div id="pub-scale-div" class="form-group">
		<label class="control-label col-sm-3" for="scale-input">Scale</label>
		<div class="col-sm-9">
			<input id="scale-input" type="text" class="form-control" />
		</div>
	</div>
	<div id="pub-projection-div" class="form-group">
		<label class="control-label col-sm-3" for="projection-input">Projection</label>
		<div class="col-sm-9">
			<input id="projection-input" type="text" class="form-control"/>
		</div>
	</div>
	<div id="pub-datum-div" class="form-group">
		<label class="control-label col-sm-3" for="datum-input">Datum</label>
		<div class="col-sm-9">
			<input id="datum-input" type="text" class="form-control" />
		</div>
	</div>
	<div id="pub-comments-div" class="form-group">
		<label class="control-label col-sm-3" for="comments-input">Public Comments</label>
		<div class="col-sm-9">
            <textarea rows="10" id="comment-input" type="text" class="form-control" /></textarea>
		</div>
	</div>
</div>