<div class="grid"></div>
<div class="add-contributor-btn-div">
	<button type="button" class="btn btn-info add-btn">New Row</button>
	<button type="button" class="btn btn-info manage-contrib-btn">Manage Contributors</button>
</div>
