<div class="edit-series-container">
	<div class="create-or-edit-div {{#if id}}hidden{{else}}show{{/if}}">
		<button class="btn btn-primary create-btn" type="button">Create</button>
		<span>Or</span>
		<label>Select series title to edit:</label>
		<div>
			<select id="series-title-input" class="form-control" data-placeholder="Enter 1 or more characters" style="width: 100%">
			</select>
		</div>
	</div>
	<div class="alert-container"></div>
	<div class="loading-indicator"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
	<div class="validation-errors"></div>
	<div class="edit-div form-horizontal {{#if id}}show{{else}}hidden{{/if}}">
		<div class="form-group">
			<label for="series-title-text-input">Series Title *</label>
			<div>
				<input required id="series-title-text-input" class="form-control" type="text" />
			</div>
		</div>
		<div class="form-group">
			<label for="pub-subtype-input">Publication Subtype *</label>
			<div>
				<select required id="pub-subtype-input" class="form-control" data-placeholder="Select a publication subtype"
						style="width: 100%">
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="series-doi-name-input">Series DOI Name</label>
			<div>
				<textarea id="series-doi-name-input" class="form-control" rows="4" cols="40" maxlength="2000"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="online-issn-input">Online ISSN</label>
			<div>
				<input id="online-issn-input" class="form-control" type="text" size="9" maxlength="9"/>
			</div>
		</div>
		<div class="form-group">
			<label for="print-issn-input">Print ISSN</label>
			<div>
				<input id="print-issn-input" class="form-control" type="text" size="9" maxlength="9"/>
			</div>
		</div>
		<div class="form-group">
			<label for="active-input">Active</label>
			<input id="active-input" class="form-control" type="checkbox" />
		</div>
		<div>
			<button class="btn btn-primary save-btn" type="button">Save</button>
			<button class="btn btn-default cancel-btn" type="button">Cancel</button>
			<button class="btn btn-default create-new-btn" type="button">Create or Edit New Series Title</button>
		</div>
	</div>
</div>