<div class="edit-person-container">
	<div class="form-group">
		<label for="first-name">First name</label>
		<input type="text" class="form-control" id="first-name" />
	</div>
	<div class="form-group">
		<label for="last-name">Last name</label>
		<input type="text" class="form-control" id="last-name" />
	</div>
	<div class="form-group">
		<label for="suffix">Suffix</label>
		<input type="text" class="form-control" id="suffix" />
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" class="form-control" id="email" />
	</div>
	<div class="form-group">
		<label for="orcid-id">ORCID ID</label>
		<input type="text" class="form-control" id="orcid-id" />
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox" id="is-usgs"/>USGS
		</label>
	</div>
	<div class="form-group affiliation-select-div">
		<label for="affiliation">Affiliation</label>
		<!--
		<div class="outside-affiliation-div">
			<select class="outside-affiliation-select form-control" id="affiliation" data-placeholder="Select affiliation" style="width: 100%"></select>
		</div>
		<div class="usgs-affiliation-div">
			<select class="usgs-affiliation-select form-control" id="affiliation" data-placeholder="Select affiliation" style="width: 100%"></select>
		</div>
		-->
		<div class="all-affiliation-div">
			<select multiple class="all-affiliation-select form-control" id="affiliation" data-placeholder="Select affiliation" style="width: 100%"></select>
		</div>
	</div>
</div>