<div id="geospatial-div" class="form-horizontal">
	<div id="pub-country-div" class="form-group">
		<label class="control-label col-sm-3" for="country-input">Country</label>
		<div class="col-sm-9">
			<input id="country-input" type="text" class="form-control"/>
		</div>
	</div>
	<div id="pub-state-div" class="form-group">
		<label class="control-label col-sm-3" for="state-input">State</label>
		<div class="col-sm-9">
			<input id="state-input" type="text" class="form-control"/>
		</div>
	</div>
	<div id="pub-county-div" class="form-group">
		<label class="control-label col-sm-3" for="county-input">County</label>
		<div class="col-sm-9">
			<input id="county-input" type="text" class="form-control"/>
		</div>
	</div>
	<div id="pub-city-div" class="form-group">
		<label class="control-label col-sm-3" for="city-input">City</label>
		<div class="col-sm-9">
			<input id="city-input" type="text" class="form-control"/>
		</div>
	</div>
	<div id="pub-otherGeospatial-div" class="form-group">
		<label class="control-label col-sm-3" for="otherGeospatial-input">Other Geospatial</label>
		<div class="col-sm-9">
			<input id="otherGeospatial-input" type="text" class="form-control"/>
		</div>
	</div>
	<div id="pub-geographicExtents-div" class="form-group">
		<label class="control-label col-sm-3" for="geographicExtents-input">Geographic Extents</label>
		<div class="col-sm-9">
			<textarea rows="10" id="geographicExtents-input" type="text" class="form-control"/></textarea>
		</div>
	</div>
</div>