<div class="link-row-container"></div>
	<div>
		<span class="fa fa-minus-circle"></span>
		<select class="link-type" data-placeholder="Link type">
		</select>
		<input class="link-text" type="text" placeholder="Link Text">
		<input class="link-file-size" type="text"placeholder="File size">
		<select  class="link-file-type" data-placeholder="File Type">
		</select>
		<input class="link-description" type="text" placeholder="Link Description">
		<span class="fa fa-bars"></span>
	</div>
	<div>
		<input type="text" placeholder="Link">
	</div>
	<div>
		<input type="text" placeholder="Link Help Text">
	</div>
</div>