<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="login-dialog-title">
	<div class="modal-dialog" role="document">
		<form class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="login-dialog-title">Login to Publications Warehouse</h4>
			</div>
			<div class="modal-body">
				<p>Please enter your Active Directory username and password</p>
				<p class="login-errors"></p>
				<div>
					<div class="form-group">
						<label for="username-input">AD Username</label>
						<input type="text" class="form-control" id="username-input" name="username" placeholder="Username" />
					</div>
					<div class="form-group">
						<label for="password-input">Password</label>
						<input type="password" class="form-control" id="password-input" name="password" placeholder="Password" />
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary submit-btn">Log In</button>
				<button type="button" class="btn btn-warning cancel-btn">Cancel</button>
			</div>
		</form>
	</div>
</div>