<div id="affiliation-div">
	<div id="add-affiliation-form" class="form-inline">
		<div id="affiliation-form" class="form-group">
			<label for="affiliation-input">New Affiliation</label>
			<input id="affiliation-input" type="text">
		</div>
	</div>
</div>