<div class="publications-container">
	<div class="alert-container"></div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#manager-navbar-collapse aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
			</div>
			<div class="collapse navbar-collapse" id="manager-navbar-collapse">
				<form class="navbar-form navbar-left pub-search-form" role="search">
					<div class="form-group has-feedback">
						<input id="search-term-input" type="text" class="form-control" placeholder="Search criteria"/>
						<span class="form-control-feedback"><i class="fa fa-search"></i></span>
					</div>
					<button type="button" class="btn btn-info search-btn">Search</button>
					<button type="button" class="btn btn-default add-category-btn">Add search category</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Create Publication</a></li>
					<li><a href="#">Manager Contributors</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="advanced-search-rows-container form-inline"></div>

	<div class="pub-list-section">
		<div class="pub-grid-container">
			<div class="pub-grid backgrid-container"></div>
			<div class="pubs-loading-indicator"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
		</div>
		<div class="pub-grid-footer">
			<div class="pub-grid-info">Total items:&nbsp;<span class="pubs-count">0</span></div>
			<div class="page-size-container form-group form-inline">
				<label>Page size:&nbsp;</label>
				<select class="form-control page-size-select">
					<option value="15">15</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100" selected>100</option>
				</select>
			</div>
		</div>
	</div>
</div>