<div class="form-group has-feedback">
	<label for="search-term-input">Search Criteria</label>
	<input id="search-term-input" type="text" class="form-control"/>
	<span class="form-control-feedback"><i class="fa fa-search"></i></span>
</div>
<div class="advanced-search-container">
	<div class="advanced-search-rows-container"></div>
	<button class="btn btn-default add-category-btn">Add advanced search category</button>
	<button class="btn btn-default clear-advanced-search-btn">Clear advanced search</button>
</div>
<button type="button" class="btn btn-default btn-info search-btn">Search</button>


