<div class="publications-container">
	<div class="alert-container"></div>

	<div class="pub-search-container"> <!-- search and list view -->
		<form class="pub-search-form">
			<div class="form-group has-feedback">
				<label for="search-term-input">Search Criteria</label>
				<input id="search-term-input" type="text" class="form-control"/>
				<span class="form-control-feedback"><i class="fa fa-search"></i></span>

			</div>
			{{#if advancedSearch}}
				<div class="row advanced-search-section">
					<label for="search-prodID">ProdID</label>
					<input id="search-prodID" type="text"/>
					<br/>
					<label for="search-indexID">IndexID</label>
					<input id="search-indexID" type="text" />
					<br/>
					<label for="search-IPDS">IPDS Number</label>
					<input id="search-IPDS" type="text"/>
					<br/>
					<label for="search-contributor">Contributor</label>
					<input id="search-contributor" type="text" />
					<br/>
					<label for="search-title">Title</label>
					<input id="search-title" type="text" />
					<br/>
					<label for="search-pubType">Pub Type</label>
					<input id="search-pubType" type="text" />
					<br/>
					<label for="search-pubSubtype">Pub Subtype</label>
					<input id="search-pubSubtype" type="text" />
					<br/>
					<label for="search-series">Series</label>
					<input id="search-series" type="text" />
					<br/>
					<label for="search-year">Year</label>
					<input id="search-year" type="text" />
				</div>
			{{/if}}
			<button type="button" class="btn btn-default btn-info search-btn">Search</button>
			{{#if futureFeatures}}
				{{#if advancedSearch}}
					<button class="btn btn-link search-link-button">Regular Search</button>
				{{else}}
					<button class="btn btn-link search-link-button" >Advanced Search</button>
				{{/if}}
			{{/if}}
		</form>
		{{#if futureFeatures}}
			{{#if advancedSearch}}
			{{else}}
				<div class="pub-lists-section">
					<label>View Lists</label><br/>
					<div class="pub-list-grid-container">
						<div class="pub-list-grid"></div>
					</div>
				</div>
			{{/if}}
		{{/if}}
	</div>

	<div class="pub-list-section">
		<div class="pub-management-div">
			<a href="#/publication" class="btn btn-default">Create Publication</a>
			{{#if futureFeatures}}
				<a href="#/contributor" class="pub-contributor-btn btn btn-default">Manage Contributors</a>
				<button class="pub-remove-from-list-btn btn btn-default">Remove From List</button>
			{{/if}}
		</div>
		<div class="pub-grid-container">
			<div class="pub-grid backgrid-container"></div>
			<div class="pubs-loading-indicator"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
		</div>
		<div class="pub-grid-footer">
			<div class="pub-grid-info">Total items:&nbsp;<span class="pubs-count">0</span></div>
			<div class="page-size-container form-group form-inline">
				<label>Page size:&nbsp;</label>
				<select class="form-control page-size-select">
					<option value="15">15</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100" selected>100</option>
				</select>
			</div>
		</div>
	</div>

	{{#if futureFeatures}}
		<div>
			<form>
				<label>List Assignments</label><br/>
				<select id="lists-input" multiple class="form-control">
					<option></option>
					{{#each pubsList}}
						<option value="{{this.id}}">{{this.text}}</option>
					{{/each}}
				</select><br/>
				<button type="submit" class="btn btn-default" >Add To Lists</button>
			</form>
		</div>
	{{/if}}
</div>