<div class="form-group has-feedback">
	<input id="search-term-input" type="text" class="form-control" placeholder="Search criteria"/>
	<span class="form-control-feedback"><i class="fa fa-search"></i></span>
</div>
<div class="advanced-search-container">
	<div class="advanced-search-rows-container"></div>
	<div class="btn-group" role="group" aria-label="search-control-btns">
		<button class="btn btn-default add-category-btn">Add search category</button>
		<button class="btn btn-default clear-advanced-search-btn">Clear search</button>
	</div>
</div>


