<div class="form-inline">
	<div class="form-group"></div>
		<select class="search-category-input form-control" placeholder="Select category">
			<option></option>
			<option value="prodId">Prod ID</option>
			<option value="indexId">Index ID</option>
			<option value="ipdsId">IPDS</option>
			<option value="contributor">Contributor</option>
			<option value="title">Title</option>
			<option value="typeName">Publication Type</option>
			<option value="subtypeName">Publication Subtype</option>
			<option value="seriesName">Series Title</option>
			<option value="year">Publication Year</option>
		</select>
	</div>
	<div class="form-group">
		<input type="text" class="category-value-input form-control">
	</div>
</div>