<div class="alert alert-dismissable {{alertKind}}" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<div class="alert-message">{{message}}</div>
</div>
