/etc
assets/node_modules
assets/coverage
assets/bower_components
*.pyc
.idea/
.settings/
.pydevproject
.project
.Rhistory
coverage.xml
lettucetests.xml
*~
*.swp
server/env
server/.pytest_cache
server/static
pubs_ui.log
server/pubs_ui/pubswh/static/.webassets-cache/
server/pubs_ui/pubswh/static/css/min_base.css
server/pubs_ui/pubswh/static/js/base_libs.js
server/pubs_ui/static/gen
server/pubs_ui/static/.webassets-cache
/target
/phantomjsdriver.log
/node
/karma
/npm
.coverage
npm-debug.log
build/
dist/
*.egg-info/
/key.json
.DS_Store
/static
*.sublime-project
*.sublime-workspace
/coverage
