/instance/config.py
/etc
/node_modules
*.pyc
.idea/
.settings/
.pydevproject
.project
.Rhistory
/pubs_ui.log
/pubs_ui/pubs_ui.log
coverage.xml
lettucetests.xml
*~
*.swp
/env/
/pubs_ui/lettuce_testing/features/pubs_ui.log
/pubs_ui/pubswh/static/.webassets-cache/
/pubs_ui/pubswh/static/css/min_base.css
/pubs_ui/pubswh/static/js/base_libs.js
/pubs_ui/static/gen
/pubs_ui/static/.webassets-cache
/pubs_ui/bower_components/
/target
/instance
/phantomjsdriver.log
/node
/bower
/karma
/npm
/coverage
npm-debug.log
build/
dist/
*.egg-info/
