server/instance/config.py
/etc
assets/node_modules
*.pyc
.idea/
.settings/
.pydevproject
.project
.Rhistory
server/pubs_ui.log
server/pubs_ui/pubs_ui.log
coverage.xml
lettucetests.xml
*~
*.swp
server/env/
server/pubs_ui/lettuce_testing/features/pubs_ui.log
server/pubs_ui/pubswh/static/.webassets-cache/
server/pubs_ui/pubswh/static/css/min_base.css
server/pubs_ui/pubswh/static/js/base_libs.js
server/pubs_ui/static/gen
server/pubs_ui/static/.webassets-cache
assets/pubs_ui/bower_components/
/target
/instance
/phantomjsdriver.log
/node
/bower
/karma
/npm
/coverage
.coverage
npm-debug.log
build/
dist/
*.egg-info/
/key.json
.DS_Store
/static
*.sublime-project
*.sublime-workspace
