recursive-include pubs_ui/static *
recursive-include pubs_ui/auth/static *
recursive-include pubs_ui/manager/static *
recursive-include pubs_ui/metrics/static *
recursive-include pubs_ui/pubswh/static *
recursive-include pubs_ui/bower_components *
recursive-include tests *
recursive-include docs *
recursive-include pubs_ui/templates *
recursive-include pubs_ui/auth/templates *
recursive-include pubs_ui/manager/templates *
recursive-include pubs_ui/metrics/templates *
recursive-include pubs_ui/pubswh/templates *

recursive-include static *
prune instance
prune pubs_ui/static/.webassets-cache
global-exclude .gitignore