@import '../usgs_viz_id';

@import "dygraph";

$fa-font-path : "./fonts" !default;
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

$icon-font-path: "./fonts/";

#main-content {
    @include u-maxw('full');
    @include u-padding-x($theme-site-margins-width);
}

.chart-display-select-div {
    @include u-border(0);
    legend {
        @include u-font-size('body', 'md');
        @include u-text('bold');
    }
    div {
        @include u-margin-x(1);
        @include u-display('inline-block');
    }
    //display: inline-block;
    //@include u-margin-y(2);
    //div {
    //    display: inline-block;
    //    @include u-margin-right(4);
    //}
}
.metric-div {
    @include grid-row;
    @include grid-gap(5);
    .recent-div, .year-div {
        @include grid-col(6);
        height: 400px;
    }
}
.table-display {
    display: none;
    .metric-table-div {
        @include grid-row;
        @include grid-gap(5);
        @include u-margin-bottom(2);
        overflow-y: scroll;
        height: 400px;
        .recent-div, .year-div {
            @include grid-col(6);
            .metric-table {
                @include u-width('full');
            }
        }
    }
}

