@import '../usgs_viz_id';

@import "dygraph";

$fa-font-path : "./fonts" !default;
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

$icon-font-path: "./fonts/";

#main-content {
    margin-left : 15px;
    margin-right : 15px;
}

.recent-div, .year-div {
    height: 400px;
}
.table-display {
    display: none;
    .metric-table-div {
        overflow-y: scroll;
        height: 400px;
        margin-bottom: 10px;
    }
}
.metric-table {
    width: 100%;
}
.chart-display-select-div {
    display: inline-block;
    margin: 1em 0;
    div {
        display: inline-block;
        margin-right: 2rem;
    }
    legend {
        @include h3;
    }
    label {
        margin-top: 0;
    }
}
