@import (inline) "../../node_modules/dygraphs/dist/dygraph.css";

@import '../../node_modules/@fortawesome/fontawesome-free/less/fontawesome.less';
@import '../../node_modules/@fortawesome/fontawesome-free/less/brands.less';
@import '../../node_modules/@fortawesome/fontawesome-free/less/solid.less';

@fa-font-path : "./fonts";

@import "../../node_modules/bootstrap/less/bootstrap.less";
@icon-font-path: "./fonts/";

#main-content {
    margin-left : 15px;
    margin-right : 15px;
}

.recent-div, .year-div {
    height: 400px;
    .make-md-column(6);
}
.table-display {
    display: none;
    .metric-table-div {
        overflow-y: scroll;
        height: 400px;
        margin-bottom: 10px;
        .metric-table {
            .make-md-column(6);
        }
    }


}
