{% macro usgs_header(enable_nav, is_authenticated) -%}
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>

    <section class="usa-banner maxw-full" aria-label="Official government website">
        <div class="usa-accordion">
            <header class="usa-banner__header">
                <div class="usa-banner__inner content-container">
                    <div class="grid-col-auto">
                        <img class="usa-banner__header-flag" src="{{ 'img/us_flag_small.png' | asset_url }}" alt="U.S. flag">
                    </div>
                    <div class="grid-col-fill tablet:grid-col-auto">
                        <p class="usa-banner__header-text">An official website of the United States government</p>
                        <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
                    </div>
                    <button class="usa-accordion__button usa-banner__button"
                            aria-expanded="false" aria-controls="gov-banner">
                        <span class="usa-banner__button-text">Here’s how you know</span>
                    </button>
                </div>
            </header>
            <div class="usa-banner__content usa-accordion__content" id="gov-banner">
                <div class="grid-row grid-gap-lg">
                    <div class="usa-banner__guidance tablet:grid-col-6">
                        <img class="usa-banner__icon usa-media-block__img" src="{{ 'img/icon-dot-gov.svg' | asset_url }}"
                             alt="Dot gov">
                        <div class="usa-media-block__body">
                            <p>
                                <strong>The .gov means it’s official.</strong>
                                <br>
                                Federal government websites often end in .gov or .mil. Before sharing sensitive information,
                                make sure you’re on a federal government site.
                            </p>
                        </div>
                    </div>
                    <div class="usa-banner__guidance tablet:grid-col-6">
                        <img class="usa-banner__icon usa-media-block__img" src="{{ 'img/icon-https.svg' | asset_url }}"
                             alt="Https">
                        <div class="usa-media-block__body">
                            <p>
                                <strong>The site is secure.</strong>
                                <br>
                                The <strong>https://</strong> ensures that you are connecting to the official website and
                                that any information you provide is encrypted and transmitted securely.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="usa-overlay"></div>

    <header class="usa-header usa-header--extended usgs-header site-header" role="banner">
        <div class="usgs-header-container">
            <div class="usa-navbar">
                <div class="usa-logo" id="extended-logo">
                    <img alt="USGS Home" src="{{ 'img/USGS_logo.svg' | asset_url }}"/>
                </div>
                <button class="usa-menu-btn">Menu</button>
            </div>
        </div>

        {% if enable_nav %}
            <nav role="navigation" class="usa-nav">
                <div>
                    <button class="usa-nav__close"><img src="{{ 'img/close.svg' | asset_url }}" alt="close"></button>
                    <ul class="usa-nav__primary usa-accordion">
                        <li class="usa-nav__primary-item">
                            <a class="usa-nav__link" href="{{ url_for('pubswh.index') }}">USGS Publications Warehouse</a>
                        </li>
                        <li class="usa-nav__primary-item">
                            <button class="usa-accordion__button usa-nav__link"
                                    aria-expanded="false"
                                    aria-controls="explore-section">
                                <span>Explore</span>
                            </button>
                            <ul id="explore-section" class="usa-nav__submenu">
                                <li class="usa-nav__submenu-item">
                                 <a href="{{ url_for('pubswh.new_pubs') }}">Explore recent publications by USGS authors</a>
                                </li>
                                <li class="usa-nav__submenu-item">
                                    <a href="{{ url_for('pubswh.browse_types') }}">
                                        Browse all of Pubs Warehouse by publication type and year
                                    </a>
                                </li>
                           </ul>
                        </li>
                        <li class="usa-nav__primary-item">
                            <button class="usa-accordion__button usa-nav__link"
                                    aria-expanded="false"
                                    aria-controls="documentation-section">
                                <span>Documentation</span>
                            </button>
                            <ul id="documentation-section" class="usa-nav__submenu">
                                <li class="usa-nav__submenu-item">
                                    <a href="{{ url_for('pubswh.faq') }}">FAQs</a>
                                </li>
                                <li class="usa-nav__submenu-item">
                                  <a href="{{ url_for('pubswh.web_service_docs') }}">Web service documentation</a>
                                </li>
                                <li class="usa-nav__submenu-item">
                                  <a href="{{ url_for('pubswh.other_resources') }}">Other resources</a>
                                </li>
                                <li class="usa-nav__submenu-item">
                                    <a href="{{ url_for('pubswh.usgs_series') }}">
                                        Descriptions of US Geological Survey Report Series
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="usa-nav__primary-item">
                            <a class="usa-nav__link" href="{{ url_for('pubswh.contact') }}">Contact</a>
                        </li>
                        {% if is_authenticated %}
                            <li class="usa-nav__primary-item">
                                <a class="usa-nav__link" href="{{ url_for('auth.logout', next=request.url) }}">
                                    Logout
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="usa-nav__secondary">
                        <form class="usa-search usa-search--small" action="{{ url_for('pubswh.search_results') }}" method="get">
                            <div role="search">
                                <label class="usa-sr-only" for="extended-search-field-small">Search</label>
                                <input class="usa-input" id="extended-search-field-small" type="search" name="q">
                                <button class="usa-button" type="submit">
                                    <span class="usa-sr-only">Search</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        {% endif %}
    </header>
{% endmacro %}
