<!DOCTYPE html>
<html lang="en">
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block meta_data %}{% endblock %}

        <title>{% block title %}USGS Publications Warehouse{% endblock %}</title>
        <script src="{{ 'vendor/system.js' | asset_url }}"></script>
        {% block page_style %}
            <link rel="stylesheet" href="{{ 'usgs_style.css' | asset_url }}" type="text/css" />
        {% endblock %}

        {% block head_script %}{% endblock %}
    </head>
    <body><div id="skip"><a href="#main-content">Skip to main content</a></div>
        <header role="banner">
            {% include 'partials/usa_banner.html' %}
            {% include 'partials/header.html' %}
        </header>
        <div class="container-fluid">
            <div id="main-content">
                {% block main %}{% endblock %}
            </div>
        </div>
        {% include 'partials/footer.html' %}
        {% block page_script %}{% endblock %}
    </body>
</html>
