<form style="display: inline;" action="{{ url_for('pubswh.search_results') }}" method="get" name="q">
    <fieldset id='first' class='fancyform'>
        {{ form.q.label }}{{ form.q(placeholder="search terms") }}
    </fieldset>
    <fieldset id='second' class='fancyform'>
        {{ form.title.label }}{{ form.title(placeholder = 'enter title') }}
        {{ form.contributingOffice.label }}{{ form.contributingOffice(class="js-example-basic-single form-control", tabindex="-1", id='contributingOffice') }}
        {{ form.contributor.label }}{{ form.contributor(placeholder = 'Name or part of name') }}
        {{ form.orcid.label }}{{ form.orcid(placeholder = "ORCID as a URL") }}
        {{ form.year.label }}{{ form.year(placeholder = 'e.g. 2014') }}
        {{ form.startYear.label }}{{ form.startYear(placeholder = 'e.g. 1994') }}
        {{ form.endYear.label }}{{ form.endYear(placeholder = 'e.g. 2012') }}
         {{ form.typeName.label }}{{ form.typeName(class="js-example-basic-single form-control", tabindex="-1", id='typeName') }}
         {{ form.subtypeName.label }}{{ form.subtypeName(class="js-example-basic-single form-control", tabindex="-1", id='subtypeName') }}
         {{ form.seriesName.label }}{{ form.seriesName(class="js-example-basic-single form-control", tabindex="-1", id='seriesName') }}
         {{ form.reportNumber.label }}{{ form.reportNumber(placeholder='e.g. 2014-3113') }}
         {{ form.g }}
         {{ form.advanced() }}
    </fieldset>
    <div id="search-map-label">Area of Interest</div>
    <div id="search-map-div"></div>
    <button type="submit" class="btn">Search</button>
</form>