<script type="text/javascript" src="{{ url_for('bower.static', filename = 'leaflet/dist/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('bower.static', filename='esri-leaflet/dist//esri-leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('bower.static', filename = 'leaflet-draw/dist/leaflet.draw.js') }}"></script>
<script type="text/javascript" src="{{ url_for('pubswh.static', filename = 'vendor/Wicket/wicket.js') }}"></script>
<script type="text/javascript" src="{{ url_for('pubswh.static', filename = 'vendor/Wicket/wicket-leaflet.js') }}"></script>

 {% assets "js_advanced_search" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
 {% endassets %}



<script type="text/javascript">    
    $(document).ready(function() {
  		$('#typeName').select2({
        	placeholder: "Choose a Publication Type" ,
        	allowClear: true
    	});
        $('#subtypeName').select2({
        	placeholder: "Choose a Publication Subtype" ,
        	allowClear: true
    	});
        $('#seriesName').select2({
        	placeholder: "Choose a Series Name or Journal Title" ,
        	allowClear: true
    	});
        $('#contributingOffice').select2({
        	placeholder: "Choose a Contributing Office" ,
        	allowClear: true
    	});
    	
    	var map = PUBS_WH.createSearchMap('search-map-div', 'g');
    });
</script>