{% extends 'pubswh/base.html' %}
{% block head %}
    <title>Browse the USGS Publications Warehouse</title>
    <meta name="description" content="Browse all of the USGS publications warehouse by following a link tree">
{% endblock %}

{% block main %}
<main class="container-fluid">
	<div class="space">
	    <p class="breadcrumb">
	       {#  {% for crumb in browsecontent['breadcrumbs']  %}{{ crumb|safe }}{% endfor %}</p>  #}
	    <h1>Browse the USGS Publication Warehouse</h1>
	    <h2>Publication subtypes for the publication type {{ pub_type }}</h2>
	    <div class="fix">
		   {% for subtype in subtypes %}<a href="{{ url_for("pubswh.browse_subtype", pub_type=pub_type, pub_subtype=subtype['text']) }}" #}>{{ subtype['text'] }}</a> </br>{% endfor %}
	    </div>
    </div>
</main>
{% endblock %}
{% block url %}<a href="{{ request.full_path }}">http://pubs.er.usgs.gov{{ request.path }}</a>{% endblock %}