{% extends 'pubswh/base.html' %}
{% block head %}
    <title>Browse the USGS Publications Warehouse</title>
    <meta name="description" content="Browse all of the USGS publications warehouse by following a link tree">
{% endblock %}

{% block main %}
<main class="container-fluid">
	<div class="space">
	    <p class="breadcrumb">
	        {# TODO: add breadcrumbs #}
            <p class="breadcrumb"> <a href=""></a> </p>
            {#  {% for crumb in browsecontent['breadcrumbs']  %}{{ crumb|safe }}{% endfor %}</p>  #}
	    <h1>Browse the USGS Publication Warehouse</h1>
	    <h2>Publications int the Series {{ series_title }}</h2>
	    <div class="fix">
            <ul>
                {% for publication in pubs_data %}
                    <li class="pubs-browse-list-theme">
                       <a href="{{ url_for("pubswh.publication", index_id=publication['indexId'] ) }}">{{ publication['Title'] |safe}}</a>
                    </li>
                {% endfor %}
            </ul>
	    </div>
    </div>
</main>
{% endblock %}
{% block url %}<a href="{{ request.full_path }}">http://pubs.er.usgs.gov{{ request.path }}</a>{% endblock %}