{% extends 'pubswh/base.html' %}
{% block head %}
    <title>Browse the USGS Publications Warehouse</title>
    <meta name="description" content="Browse all of the USGS publications warehouse by following a link tree">
{% endblock %}

{% block main %}
<main class="container-fluid">
	<div class="space">
	       <p class="breadcrumb"> <a href="{{ url_for('pubswh.index') }}" title="Pubs Warehouse Home">Pubs Warehouse Home</a>
            <span> > </span><a href="{{ url_for('pubswh.browse_types') }}" title="Browse USGS Publications">Browse</a>
            </p>
	    <h1>Browse the USGS Publication Warehouse</h1>
	    <h2>Publication types</h2>
	    <div class="fix">
		   <ul>
               {% for type in types %}<li><a title="See a list of publications subtypes for the publication type of {{ type['text'] }}" href="{{ url_for("pubswh.browse_subtypes", pub_type=type['text']) }}">{{ type['text'] }}</a></li>{% endfor %}
           </ul>
	    </div>
    </div>
</main>
{% endblock %}
{% block url %}<a href="{{ request.full_path }}">http://pubs.er.usgs.gov{{ request.path }}</a>{% endblock %}