
<form id="search-pubs-form" action="{{ url_for('pubswh.search_results') }}" method="get">
	<div class="form-group">
		<label for="q-text">Search for Publications</label>
		<div class="input-group">
			<span class="input-group-btn">
				<button title="Clear search" class="btn btn-default clear-search-btn" type="button"><i class="fa fa-times"></i></button>
			</span>
			<input type="text" id="q-text" name="q" placeholder="Search terms" value="{{ request.args.q }}" class="form-control" />
			<span class="form-control-feedback"><i class="fa fa-search"></i></span>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Search</button>
	<select class="search-category-select">
		<option>Pick search category</option>
		<option value="title" data-input-type="text" data-placeholder="enter title" data-order="1">Title</option>
		<option value="contributingOffice" data-input-type="select" data-lookup="costcenters"
				data-placeholder="Choose a Contributing Office" data-order="2">Contributing Office</option>
		<option value="contributor" data-input-type="text" data-placeholder="Name of part of name"
				data-order="3">Contributor Name</option>
		<option value="orcid" data-input-type="url" data-placeholder="ORCID as a URL" data-order="4">ORCID</option>
		<option value="year" data-input-type="text" data-placeholder="e.g. 2014" data-order="5">Year Published</option>
		<option value="startYear" data-input-type="text" data-placeholder="e.g. 1994"
				data-order="6">Published starting in</option>
		<option value="endYear" data-input-type="text" data-placeholder="e.g. 2012"
				data-order="7">Published in or before</option>
		<option value="typeName" data-input-type="select" data-lookup="publicationtypes"
				data-placeholder="Choose a Publication Type" data-order="8">Publication Type</option>
		<option value="subtypeName" data-input-type="select" data-lookup="publicationsubtypes"
				data-placeholder="Choose a Publication Subtype" data-order="9">Publication Subtype</option>
		<option value="seriesName" data-input-type="select" data-lookup="publicationseries"
				data-placeholder="Choose a Series Name or Journal Title" data-order="10">Series Name</option>
		<option value="reportNumber" data-input-type="text" data-placeholder="e.g. 2014-3113"
				data-order="11">Report Number</option>
		<option value="g" data-input-type="map" data-order="12">Area of Interest</option>
	</select>
	<button class="add-search-category" disabled type="button" class="btn btn-default">Add search category</button>
	<div class="form-horizontal advanced-search-container"></div>
	<div class="form-horizontal map-search-container"></div>
</form>