<script type="text/javascript" src="{{ url_for('bower.static', filename = 'leaflet/dist/leaflet-src.js') }}"></script>
<script type="text/javascript" src="{{ url_for('bower.static', filename='esri-leaflet/dist//esri-leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('bower.static', filename = 'leaflet-draw/dist/leaflet.draw.js') }}"></script>
<script type="text/javascript" src="{{ url_for('pubswh.static', filename = 'vendor/Wicket/wicket.js') }}"></script>
<script type="text/javascript" src="{{ url_for('pubswh.static', filename = 'vendor/Wicket/wicket-leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('bower.static', filename='handlebars/handlebars.js') }}"></script>
<script type="text/javascript" src="{{ url_for('bower.static', filename='moment/min/moment.min.js') }}"></script>
<script type="text/javascript"
		src="{{ url_for('bower.static',filename='eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}">
</script>

{% assets "js_advanced_search" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

</script>