{% extends 'base.html' %}

{% import 'assets.html' as assets %}

{% block title %}Manage USGS Publications{% endblock %}

{% block head_script %}
    <link rel="stylesheet" href="{{ 'vendor/tinymce/skins/lightgray/skin.min.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'vendor/tinymce/skins/lightgray/content.min.css' | asset_url }}">
	<link rel="stylesheet" href="{{ 'manager.css' | asset_url }}" />
{% endblock %}

{% block main %}
	<div id="manage-content-header" class="container-fluid">
		<h1>Manage USGS Publications</h1>
		{% if is_authenticated %}<a href="{{ url_for('auth.logout', next=request.url) }}">Logout</a>{% endif %}
	</div>
{% endblock %}

{% block page_script %}
	<script type="text/javascript">
		window.CONFIG = {
			staticRoot: '{{ config.STATIC_ROOT }}',
			scriptRoot: '{{ request.script_root }}',
			jsDebug: '{{ config.JS_DEBUG }}',
			lookupUrl: '{{ config.LOOKUP_URL }}',
			oldMyPubsEndpoint: '{{ config.OLD_MYPUBS_ENDPOINT }}',
			previewUrl: '{{ url_for("pubswh.restricted_page", index_id="") }}'
		};
	</script>
        <script type="text/javascript" src="{{ 'vendor/jquery/jquery.js' | asset_url }}"></script>
        <script type="text/javascript" src="{{ 'vendor/paginationjs/pagination.js' | asset_url }}"></script>
	{{ assets.LoadBundle('manager.js') }}
{% endblock %}
