{% extends 'base.html' %}

{% import 'assets.html' as assets %}

{% block title %}Manage USGS Publications{% endblock %}

{% block page_style %}
    <link rel="stylesheet" href="{{ 'vendor/tinymce/skins/lightgray/skin.min.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'vendor/tinymce/skins/lightgray/content.min.css' | asset_url }}">
	<link rel="stylesheet" href="{{ 'manager.css' | asset_url }}" type="text/css" />
{% endblock %}

{% block main %}
	<div id="manage-content-header">
		<h1>Manage USGS Publications</h1>
		{% if current_user.is_authenticated %}<a href="{{ url_for('auth.logout_page', forward='manager.show_app') }}">Logout</a>{% endif %}
	</div>
{% endblock %}

{% block page_script %}
	<script type="text/javascript">
		window.CONFIG = {
			staticRoot: '{{ config.STATIC_ROOT }}',
			scriptRoot: '{{ request.script_root }}',
			jsDebug: '{{ config.JS_DEBUG }}',
			lookupUrl: '{{ config.LOOKUP_URL }}',
			oldMyPubsEndpoint: '{{ config.OLD_MYPUBS_ENDPOINT }}',
			previewUrl: '{{ url_for("pubswh.restricted_page", index_id="") }}'
		};
	</script>
	{{ assets.LoadBundle('manager.js') }}
{% endblock %}
