<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="warning-dialog-title">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close ok-btn" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title" id="warning-dialog-title"></h4>
      		</div>
      		<div class="modal-body"></div>
      		<div class="modal-footer">
				<button type="button" class="btn btn-primary ok-btn">OK</button>
			</div>
		</div>
	</div>
</div>