<div id="catalog" class="form-horizontal">
    <div id="pub-prod-desc-div" class="form-group">
        <label class="control-label" for="prod-desc-input">Product Description</label>
        <div>
            <input id="prod-desc-input" type="text" class="form-control" />
        </div>
    </div>
    <div id="pub-volume-div" class="form-group">
        <label class="control-label for="volume-input">Volume</label>
        <div>
            <input id="volume-input" type="text" class="form-control" />
        </div>
    </div>
    <div id="pub-issue-div" class="form-group">
        <label class="control-label" for="issue-input">Issue</label>
        <div>
            <input id="issue-input" type="text" class="form-control"/>
        </div>
    </div>
    <div id="pub-edition-div" class="form-group">
        <label class="control-label" for="edition-input">Edition</label>
        <div>
            <input id="edition-input" type="text" class="form-control"/>
        </div>
    </div>
    <div id="pub-start-page-div" class="form-group">
        <label class="control-label" for="start-page-input">Start Page</label>
        <div>
            <input id="start-page-input" type="text" class="form-control" />
        </div>
    </div>
    <div id="pub-end-page-div" class="form-group">
        <label class="control-label" for="end-page-input">End Page</label>
        <div>
            <input id="end-page-input" type="text" class="form-control" />
        </div>
    </div>
    <div id="pub-num-pages-div" class="form-group">
        <label class="control-label" for="num-pages-input">Number of Pages</label>
        <div>
            <input id="num-pages-input" type="text" class="form-control" />
        </div>
    </div>
    <div id="pub-online-only-div" class="form-group">
        <label class="control-label" for="online-only-input">Online Only</label>
        <div>
            <input id="online-only-input" type="checkbox"">
        </div>
    </div>
    <div id="pub-additional-files-div" class="form-group">
        <label class="control-label" for="additional-files-input">Additional Online Files</label>
        <div>
            <input id="additional-files-input" type="checkbox">
        </div>
    </div>
    <div id="pub-temporal-start-div" class="form-group">
        <label class="control-label" for="temporal-start-input">Temporal Start</label>
        <div class="input-group date" id="temporal-start-input-div">
            <input type="text" id="temporal-start-input" class="form-control" />
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>
    <div id="pub-temporal-end-div" class="form-group">
        <label class="control-label" for="temporal-end-input">Temporal End</label>
        <div class="input-group date" id="temporal-end-input-div">
            <input type="text" id="temporal-end-input" class="form-control" />
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>
    <div id="pub-notes-div" class="form-group">
        <label class="control-label" for="notes-input">Notes</label>
        <div>
            <textarea id="notes-input" class="form-control" ></textarea>
        </div>
    </div>
    <div id="pub-scale-div" class="form-group">
        <label class="control-label" for="scale-input">Scale</label>
        <div>
            <input id="scale-input" type="text" class="form-control" />
        </div>
    </div>
    <div id="pub-projection-div" class="form-group">
        <label class="control-label" for="projection-input">Projection</label>
        <div>
            <input id="projection-input" type="text" class="form-control"/>
        </div>
    </div>
    <div id="pub-datum-div" class="form-group">
        <label class="control-label" for="datum-input">Datum</label>
        <div>
            <input id="datum-input" type="text" class="form-control" />
        </div>
    </div>
    <div id="pub-comments-div" class="form-group">
        <label class="control-label" for="comments-input">Public Comments</label>
        <div>
            <textarea rows="10" id="comment-input" type="text" class="form-control" /></textarea>
        </div>
    </div>
</div>
