<div class="contributor-row-container">
	<div class="form-inline">
		<span class="fa fa-minus-circle delete-row"></span>
		<select class="form-control contributor-type-input" data-placeholder="Select Kind" style="width: 15%;">
			<option value="people" selected>Person</option>
			<option value="corporations">Corporation</option>
		</select>
		<select class="form-control contributor-name-input" data-placeholder="Select Name"  style="width: 50%;"></select>
		<input class="form-control affiliation-input" readonly type="text"  style="width: 25%;"/>
		<a class="edit-contributor-link" href="" target="_blank">Edit</a>
		<span class="fa fa-bars reorder-row"></span>
	</div>
</div>