<div class="edit-corporation-container">
    <div class="form-group">
        <label for="organization">Name</label>
        <input type="text" class="form-control" id="organization" />
    </div>
</div>
