<div class="link-row-container">
    <div class="form-inline">
        <span class="fas fa-minus-circle delete-row"></span>
        <select class="link-type form-control" data-placeholder="Link type" style="width: 16%"></select>
        <input class="link-text form-control" type="text" placeholder="Link Text">
        <input class="link-file-size form-control" type="text"placeholder="File size">
        <select  class="link-file-type form-control" data-placeholder="File Type" style="width: 12%"></select>
        <input class="link-description form-control" type="text" placeholder="Link Description">
        <span class="fas fa-bars reorder-row"></span>
    </div>
    <div class="form-inline">
        <input class="link-url form-control" type="text" placeholder="Link">
    </div>
    <div class="form-inline">
        <input class="link-help form-control" type="text" placeholder="Link Help Text">
    </div>
</div>
