<div class="alert-container"></div>
<div class="publications-container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#manager-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
            </div>
            <div class="collapse navbar-collapse" id="manager-navbar-collapse">
                <form class="navbar-form navbar-left pub-search-form" role="search">
                    <div class="search-form-container">
                        <div class="form-group has-feedback free-search-div">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button title="Clear search" class="btn btn-default clear-search-btn" type="button"><i class="fas fa-times"></i></button>
                                </span>
                                <input id="search-term-input" type="text" class="form-control" placeholder="Search criteria" value="{{qTerm}}"/>
                                <span class="form-control-feedback"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                        <div class="advanced-search-rows-container form-inline"></div>
                    </div>
                    <div class="form-group search-btn-div">
                        <button type="submit" class="btn btn-info search-btn">Search</button>
                        <button type="button" class="btn btn-default add-category-btn">Add search category</button>
                    </div>
                </form>

                <ul class="nav navbar-nav navbar-right pub-nav-btn-div">
                    <li><a class="create-pub-btn" href="#">Create Publication</a></li>
                    <li><a class="manage-dropdown dropdown-toggle" data-toggle="dropdown" href="#">Manage <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="manager-contribs-btn" href="#" target="">Contributors</a></li>
                            <li><a class="manager-seriestitle-btn" href="#">Series Titles</a></li>
                            <li><a class="manager-affiliation-btn" href="#">Affiliations</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="pub-management-container">
        <div class="pub-filter-container">
            <div class="panel panel-default">
                <div class="panel-heading">Publication List Filter</div>
                <div class="panel-body pub-filter-list-div"></div>
            </div>
        </div>
        <div class="pub-list-section">
            <div class="pub-pane-container">
                <div class="pub-pane data-container"></div>
                <div class="pubs-loading-indicator"><i class="fas fa-spinner fa-spin fa-5x"></i></div>
            </div>
            <div class="pub-grid-footer">
                <div class="pub-pagination"</div>
                <div class="pub-grid-info">Total items:&nbsp;<span class="pubs-count">0</span></div>
                <div class="page-size-container form-group form-inline">
                    <label>Page size:&nbsp;</label>
                    <select class="form-control page-size-select">
                        <option value="15">15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100" selected>100</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="manage-pubs-categories-section">
        <div class="form-group">
            <label for="pubs-categories-select">List Assignments</label>
            <select class="form-control" id="pubs-categories-select" multiple></select>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-info add-to-lists-btn" >Add To Lists</button>
            <button type="button" class="btn btn-info remove-from-list-btn">Remove From List</button>
        </div>
    </div>
</div>
<div class="warning-dialog-container"></div>
