<ul class="usa-list--unstyled">
    {{#each pubList}}
        <li class="checkbox">
            <label>
        	    <input id="pub-list-{{id}}" {{#if checked}}checked {{/if}}title="{{description}}" type="checkbox" value="{{id}}" />
        	    {{text}}
        	</label>
        </li>
    {{/each}}
</ul>
