<ul class="usa-unstyled-list">
    {{#each pubList}}
        <li>
        	<input {{#if checked}}checked {{/if}}title="{{description}}" type="checkbox" value="{{id}}" />
        	<label>{{text}}</label>
        </li>
    {{/each}}
</ul>
