<ul class="list-unstyled">
    {{#each pubList}}
        <li class="checkbox"><label><input {{#if checked}}checked {{/if}}title="{{description}}" type="checkbox" value="{{id}}" />{{text}}</label></li>
    {{/each}}
</ul>
