<div class="back-to-search-div"><a class="back-to-search-btn" href="#">Back to Search</a></div>
<div class="sipp-panel panel panel-default">
    <div class="panel-heading"><h2 class="panel-title">Pull from SIPP</h2></div>
    <div class="panel-body">
        <div class="alert-container"></div>
        <div class="loading-indicator"><i class="fas fa-spinner fa-spin fa-5x"></i></div>
        <div class="sipp-container form-horizontal">
            <div id="ip-number_div">
                <label class="control-label">IP Number</label>
                <input id="ip-number" type="text" class="form-control" maxlength="9">
            </div>
        </div>
        <div style="margin-top: 15px">
            <button class="btn btn-primary pull-from-sipp-btn" type="button">Pull from SIPP</button>
        </div>
    </div>
</div>