<div class="search-filter-row form-inline">
	<div class="form-group search-category-div">
		<span class="fa fa-minus-circle delete-row"></span>
		<select class="search-category-input form-control" data-current-value="{{initialCategoryId}}" data-placeholder="Select category" style="width: 90%">
				<option></option>
				{{#each categories}}
				<option {{#if sendId }}data-sendid="true"{{/if}} value="{{id}}" {{#if selected}}selected {{/if}}{{#if disabled}}disabled{{/if}}>{{text}}</option>
				{{/each}}
		</select>
	</div>
	<div class="form-group search-category-value-div">
		<div class="text-input-div ">
			<input type="text" class="value-text-input form-control">
		</div>
		<div class="select-input-div " style="display:none">
			<select class="value-select-input form-control" multiple style="width: 100%"></select>
		</div>
	</div>
</div>