<div id="spn" class="form-horizontal">
    <div id="published-date-div" class="form-group">
        <label class="control-label" for="published-date-input">First Posted Date</label>
        <div class="input-group date" id="published-date-input-div">
            <input type="text" id="published-date-input" class="form-control" />
            <span class="input-group-addon">
                <i class="fas fa-calendar"></i>
            </span>
        </div>
    </div>
    <div id="revised-date-div" class="form-group">
        <label class="control-label" for="revised-date-input">Revised Date</label>
        <div class="input-group date" id="revised-date-input-div">
            <input type="text" id="revised-date-input" class="form-control" />
            <span class="input-group-addon">
                <i class="fas fa-calendar"></i>
            </span>
        </div>
    </div>
    <div class="form-group" id="is-part-of-div">
         <label class="control-label col-sm-3" for="is-part-of-input">Is Part of</label>
         <div>
            <select id="is-part-of-input" class="form-control" data-placeholder="Select the Is Part of Publication" style="width: 100%">
            </select>
         </div>
    </div>
    <div class="form-group" id="superseded-by-div">
         <label class="control-label" for="superseded-by-input">Superseded by</label>
         <div >
            <select id="superseded-by-input" class="form-control" data-placeholder="Select the Superseded By Publication" style="width: 100%"/>
         </div>
    </div>
    <div id="psc-div" class="form-group">
        <label class="control-label" for="psc-input">Publishing Service Center</label>
        <div >
            <select id="psc-input" class="form-control" data-placeholder="Select a Publishing Service Center" style="width: 100%">
            </select>
        </div>
    </div>
    <div class="form-group" id="contacts-div">
        <label class="control-label" for="contacts-input">Contacts</label>
        <div>
            <textarea id="contacts-input" class="form-control"></textarea>
        </div>
    </div>
</div>
