
.pagination-nav {
    text-align: center;
    li {
        display: inline;
        padding-left: 2px;
        padding-right: 2px;
        a {
            color: $theme-color-primary ;
            text-decoration: none;
            margin-right: 2px;
            border: 1px solid color('gray-cool-60');
            border-radius: 4px;
            font-size: 1.2rem;
            padding: 1px 2px;
            @include at-media('tablet') {
                font-size: 1.4rem;
                margin-right: 10px;
                padding: 6px 12px;
            }

        }

        a:hover{
            color:#000;
            text-decoration:underline;
        }
    }
    .disabled a {
        color: color('gray-cool-30');
        cursor: not-allowed;
    }
}

