//USWDS theme for select2's. This should work for on any page. Put I have not tested, so putting it here for now
.select2-search input[type="search"] {
  float: none;
}
.select2-results {
  li {
    margin-bottom: 0;
  }
}

.select2-container {
  @include at-media('tablet') {
    width: 100%;
  }
}
.select2-container .selection .select2-selection {
  //height: $input-height;
  border-color: color('gray-cool-60');
  border-radius: 0;
}
.select2-container .selection .select2-selection .select2-selection__rendered,
.select2-container .selection .select2-selection .select2-selection__arrow {
  //height: $input-height;
  @include u-line-height('heading', 2)
  //padding: @include u-padding(1) 0.7em;
}
.select2-container .selection .select2-selection .select2-selection__arrow {
  right: 1.5rem;
}

@import '../../../node_modules/select2/src/scss/core.scss';

// I was trying to make a more general style for the input group (similar to bootstrap input group) but this ended up
// being very specific to our needs.

.usgs-input-group {
  position: relative;
  display: block;
  span, input {
    display: inline-block;
  }

  .usgs-input-group-btn {
    position: relative;
    margin-right: 0;
    border-left: 1px solid color('gray-cool-60');
    border-top: 1px solid color('gray-cool-60');
    border-bottom: 1px solid color('gray-cool-60');
    border-right-width: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    //height: $input-height;
    width: auto;
  }

  input {
    position: relative;
    left: -5px;
    @media screen and (max-width: $medium-large-screen) {
      width: 230px;
    }
    @include at-media('mobile-lg') {
      width: 200px;
    }
  }

  .usgs-input-group-addon {
    position: relative;
    left: -4rem;
  }

}

// Advanced search form styling
.advanced-search-div {
  .select2-container {
    max-width: 25rem;
  }
}

.delete-row {
  background-color: transparent;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  color: red;
  &:hover {
    background-color: red;
  }
}

.advanced-search-row {

  .advanced-search-row-label {
    display: inline-block;
    width: 100%;
    @media screen and (min-width: $medium-large-screen) {
      width: 42%;
    }
    button, label {
      display: inline-block;
    }
    button {
      @include at-media('mobile-lg') {
        width: auto;
      }
    }
  }
  .advanced-search-row-input {
    width: 100%;
    @media screen and (min-width: $medium-large-screen) {
      width: 55%;
    }
    display: inline-block;
    button, label, input {
      display: inline-block;
    }
    .select2-container {
    }
  }
}

.search-form-map-div {
  height: 400px;
  margin: 0 0 15px 0;
}

.search-form-map-div .leaflet-control label {
  font-weight: normal;
}

#show-hide-advanced-search-btn {
  cursor: pointer;
}
