$site-max-width: 100%;

@import 'uswds';

$site-max-width: 100%;
$site-margins: 1rem;

@import './partials/variables';
@import './partials/header';
@import './partials/footer';

.usgs-input-group {
  span, input {
    display: inline;
  }
}