{% extends 'base.html' %}

{% import 'assets.html' as assets %}

{% block meta_data %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="USGS Publications Warehouse">
    <meta name="keywords" content>
    <meta name="format-detection" content="telephone=no">
    {% block head %} {% endblock %}
{% endblock %}

{% block page_style %}
    {{ super() }}
{% endblock page_style %}

{% block head_script %}
    <link rel="stylesheet" href="{{ 'pubs_base.css' | asset_url }}" type="text/css" />
    <link rel="shortcut icon" href="{{ 'images/pubswh/favicon.ico' | asset_url }}"/>
    <link rel="search" type="application/opensearchdescription+xml" href="{{ url_for('pubswh.open_search') }}" title="USGS Pubs"/>
    <link rel="unapi-server" type="application/xml" title="unAPI" href="{{ url_for('pubswh.unapi') }}" />
    <link rel="alternate" type="application/rss+xml" title="USGS Publications Warehouse RSS Feed" href="https://pubs.er.usgs.gov/pubs-services/publication/rss"/>
    <script>
        var CONFIG = {
            lookupUrl: '{{ config.LOOKUP_URL }}',
            requestArgs: JSON.parse('{{ request.args.to_dict(False)|tojson }}') <!-- set to True if only one value per key is desired -->
        }
    </script>
{% endblock %}

{% block usgs_header %}
    {{ header.usgs_header("enable_nav", current_user=current_user) }}
{% endblock  %}

{% block main %}
   {% if ANNOUNCEMENT_BLOCK|length > 0 %}
       <span id="announcement"></span>
       <script>
           document.getElementById("announcement").innerHTML = '{{ ANNOUNCEMENT_BLOCK|safe }}';
       </script>
   {% endif %}
    <div id="main-content">
        {% block main_pubswh %}{% endblock %}
    </div>

{% endblock main %}

{% block page_script %}
    {{ assets.LoadBundle('pubswh_plugins.js') }}
    <script async type="application/javascript"
            src="https://www2.usgs.gov/scripts/analytics/usgs-analytics.js"></script>

   {% block page_footer_script %}{% endblock page_footer_script %}

   <script>
       var GA = {};
       (function (i, s, o, g, r, a, m) {
           i['GoogleAnalyticsObject'] = r;
           i[r] = i[r] || function () {
                   (i[r].q = i[r].q || []).push(arguments)
               }, i[r].l = 1 * new Date();
           a = s.createElement(o),
               m = s.getElementsByTagName(o)[0];
           a.async = 1;
           a.src = g;
           m.parentNode.insertBefore(a, m)
       })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

       ga('create', '{{ GOOGLE_ANALYTICS_CODE }}', 'auto');
       ga('send', 'pageview');

       GA.trackGAEvent = function (category, actions, labels, values) {
           ga('send', 'event', category, actions, labels, values);
       };
   </script>
{% endblock %}

