{% extends 'pubswh/base.html' %}
{% block head %}
    <title>Browse the USGS Publications Warehouse</title>
    <meta name="description" content="Browse all of the USGS publications warehouse by following a link tree">
{% endblock %}

{% block main %}
<main class="container-fluid">
  <div class="space">
      <p class="breadcrumb">
            <a href="{{ url_for('pubswh.index') }}" title="Pubs Warehouse Home">Pubs Warehouse Home</a>
            <span> > </span><a href="{{ url_for('pubswh.browse_types') }}" title="Browse USGS Publications">Browse</a>
            {% if pub_type %}<span> > </span><a href="{{ url_for("pubswh.browse_subtypes", pub_type=pub_type) }}" title="See subtypes in or a publication list for {{ pub_type }}">{{ pub_type }}</a>{% endif %}
            {% if pub_subtype %}<span> > </span><a href="{{ url_for("pubswh.browse_subtype", pub_type=pub_type, pub_subtype=pub_subtype) }}" title="See series in or a publication list for {{ pub_subtype }}">{{ pub_subtype }}</a>{% endif %}
            {% if series_title %}<span> > </span><a href="{{ url_for("pubswh.browse_series", pub_type=pub_type, pub_subtype=pub_subtype, pub_series_name=series_title)  }}" title="See publications in or a year list for {{ series_title }}">{{ series_title }}</a>{% endif %}
            {% if pub_year %}<span> > </span><a href="{{ url_for("pubswh.browse_series_year", pub_type=pub_type, pub_subtype=pub_subtype, pub_series_name=series_title, year=pub_year ) }}" title="See list of publications in {{ pub_year }}">{{ pub_year }}</a>{% endif %}
        </p>

      <h1>Browse the USGS Publication Warehouse</h1>
      <h2>Publications in the Series {{ series_title }}</h2>
      <div class="fix">
            <ul>
                {% if pubs_data %}
                    {% for publication in pubs_data %}
                        <li class="pubs-browse-list-theme">
                           <a href="{{ url_for("pubswh.publication", index_id=publication['indexId'] ) }}">{{ publication['Title'] |safe}}, {{ publication['Year Published'] }},
                               {{ publication['Series title'] }}
                               {% if publication['Series number'] %}
                                   {{ publication['Series number'] }} {{ publication['Chapter'] }}
                               {% endif %}
                               {% if publication['Volume'] %}
                               ({{ publication['Volume'] }}) -
                               {{ publication['Issue']  }}
                                {% endif %}
                           </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="pubs-browse-list-theme">There are no publications to list in this area</li>
                {% endif %}
            </ul>
      </div>
    </div>
</main>
{% endblock %}
{% block url %}<a href="{{ request.full_path }}">http://pubs.er.usgs.gov{{ request.path }}</a>{% endblock %}
