{% extends 'pubswh/base.html' %}
{% block head %}
    <title>Browse the USGS Publications Warehouse</title>
    <meta name="description" content="Browse all of the USGS publications warehouse by following a link tree">
{% endblock %}

{% block main %}
<main class="container-fluid">
    <div class="space">
        <p class="breadcrumb">
            <p class="breadcrumb"> <a href="{{ url_for('pubswh.index') }}" title="Pubs Warehouse Home">Pubs Warehouse Home</a>
            <span> > </span><a href="{{ url_for('pubswh.browse_types') }}" title="Browse USGS Publications">Browse</a>
            {% if pub_type %}<span> > </span><a href="{{ url_for("pubswh.browse_subtypes", pub_type=pub_type) }}">{{ pub_type }}</a>{% endif %}
            {% if pub_subtype %}<span> > </span><a href="{{ url_for("pubswh.browse_subtype", pub_type=pub_type, pub_subtype=pub_subtype) }}">{{ pub_subtype }}</a>{% endif %}
            {% if series_title %}<span> > </span><a href="{{ url_for("pubswh.browse_series", pub_type=pub_type, pub_subtype=pub_subtype, pub_series_name=series_title) }}">{{ series_title }}</a>{% endif %}
        </p>

        <h1>Browse the USGS Publication Warehouse</h1>
        <h2>Years that the {{ pub_type }} {{ series_title }} may be available</h2>
        <div class="fix">
            <ul>

                    {% for year in year_range %}
                        <li class="pubs-browse-list-theme">
                           <a href="{{ url_for("pubswh.browse_series_year", pub_type=pub_type, pub_subtype=pub_subtype, pub_series_name=series_title, year=year ) }}">{{ year }}</a>
                        </li>
                    {% endfor %}

            </ul>
        </div>
    </div>
</main>
{% endblock %}
{% block url %}<a href="{{ request.full_path }}">http://pubs.er.usgs.gov{{ request.path }}</a>{% endblock %}
