{% extends 'pubswh/base.html' %}

{% block head %}
    <title>Browse the USGS Publications Warehouse</title>
    <meta name="description" content="Browse all of the USGS publications warehouse by following a link tree">
{% endblock %}

{% block main_pubswh %}
<div class="browse-page">
    <p class="breadcrumb">
        <a href="{{ url_for('pubswh.index') }}" title="Pubs Warehouse Home">Pubs Warehouse Home</a>
        <span> &gt; </span>
        <a href="{{ url_for('pubswh.browse_types') }}" title="Browse USGS Publications">Browse</a>
    </p>
    <h1>Browse the USGS Publications Warehouse</h1>
    <h2>Publication types</h2>
    <p>The Publications Warehouse collection is broken into several broad types.    Nearly all publications are in the Article or Report types</p>
    <ul>
        {% for type in types %}
            <li>
                <a title="See a list of publications subtypes for the publication type of {{ type['text'] }}" href="{{ url_for("pubswh.browse_subtypes", pub_type=type['text']) }}">{{ type['text'] }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block url %}<a href="{{ request.full_path }}">http://pubs.er.usgs.gov{{ request.path }}</a>{% endblock %}
