
{% extends 'pubswh/base.html' %}
{% block head %}
    <title>Browse the USGS Publications Warehouse</title>
    <meta name="description" content="Browse all of the USGS publications warehouse by following a link tree">
{% endblock %}

{% block main_pubswh %}
<main class="container-fluid">
    <div class="space">
        <p class="breadcrumb">
            {% for crumb in browsecontent['breadcrumbs']  %}{{ crumb|safe }}{% endfor %}</p>
        <h1>Browse the USGS Publication Warehouse</h1>
        <h2>{{ browsecontent['header'][0]|safe }}</h2>
        <div class="fix">
            {% for link in browsecontent['links']  %}
            {{ link|safe }}
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
{% block url %}<a href="{{ request.full_path }}">http://pubs.er.usgs.gov{{ request.path }}</a>{% endblock %}

