{% extends 'pubswh/base.html' %}
{% block head %}
    <title>Contact Us- USGS Publications Warehouse</title>
    <meta name="description" content="Contact Form for the USGS Publications Warehouse">
    {% include 'pubswh/meta.html' %}
{% endblock %}

{% block main_pubswh %}
<div id="contact-page">
    <h1>Contact us!</h1>
    <h2>Contact the Publications Warehouse Team</h2>
    <form id="contact-form" action="{{ url_for('pubswh.contact') }}" method=post>
        {{ contact_form.hidden_tag() }}

        {% for name_error in contact_form.name.errors %}
            {{ name_error }}
        {% endfor %}
        {{ contact_form.name(placeholder="Name", **{'aria-label': 'enter your name'}) }}

        {% for email_error in contact_form.email.errors %}
            {{ email_error }}
        {% endfor %}
        {{ contact_form.email(placeholder="Email", **{'aria-label': 'enter your email address'}) }}

        {{ contact_form.originating_page(placeholder="Originating Page", **{'aria-label': 'originating page'}) }}

        {{ contact_form.message(placeholder="Write a Message", **{'aria-label': 'message content'}) }}

        {% for captcha_error in contact_form.recaptcha.errors %}
            {{ captcha_error }}
        {% endfor %}
        {{ contact_form.recaptcha }}

        {{ contact_form.submit }}
  </form>
</div>
{% endblock %}

{% block url %}<a href="{{ url_for('pubswh.contact') }}">http://pubs.er.usgs.gov{{ url_for('pubswh.contact') }}</a>{% endblock %}
