{% extends 'pubswh/base.html' %}
{% block head %}
    <title>Contact Us- USGS Publications Warehouse</title>
    <meta name="description" content="Contact Form for the USGS Publications Warehouse">
    {% include 'pubswh/meta.html' %}
{% endblock %}

{% block main_pubswh %}
<div id="contact-page">
    <h1>Contact us!</h1>
    <h2>Contact the Publications Warehouse Team</h2>
    <form id="contact-form" action="{{ url_for('pubswh.contact') }}" method=post>
        {{ contact_form.hidden_tag() }}
        <div>
            {% for name_error in contact_form.name.errors %}
                {{ name_error }}
            {% endfor %}
        </div>
        <div>
            {{ contact_form.name(placeholder="Name", class="usa-input", **{'aria-label': 'enter your name'}) }}
        </div>
        <div>
            {% for email_error in contact_form.email.errors %}
                {{ email_error }}
            {% endfor %}
        </div>
        <div>
            {{ contact_form.email(placeholder="Email", class="usa-input", **{'aria-label': 'enter your email address'}) }}
        </div>
        <div>
        {{ contact_form.originating_page(placeholder="Originating Page", class="usa-input", **{'aria-label': 'originating page'}) }}
        </div>
        {{ contact_form.message(placeholder="Write a Message", class="usa-input",**{'aria-label': 'message content'}) }}
        <div>
            {% for captcha_error in contact_form.recaptcha.errors %}
                {{ captcha_error }}
            {% endfor %}
            {{ contact_form.recaptcha }}
        </div>
        {{ contact_form.submit(class="usa-button") }}
  </form>
</div>
{% endblock %}