{% extends 'pubswh/base.html' %}
{% block head %}
    <title>U.S. Geological Survey Publications Warehouse</title>
    <meta name="description"
          content="The Publications warehouse contains over 150,000 publications that cover the 150 year history of the USGS">
    {% include 'pubswh/meta.html' %}
{% endblock head %}

{% block page_style %}
    {{ super() }}
    <link rel="stylesheet" href="{{ 'vendor/leaflet/leaflet.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'vendor/leaflet-draw/leaflet.draw.css' | asset_url }}">
{% endblock page_style %}

{% block main_pubswh %}
    <section id="welcome">
        <h1>USGS Publications Warehouse</h1>
        <p>The Pubs Warehouse provides access to over 160,000 publications written by USGS scientists over the
            century-plus history of the bureau.</p>
    </section>
    <div class="usa-grid">
        <div class="usa-width-two-thirds">
            {% include 'pubswh/search_form.html' %}
            <aside id="new-pubs">
                <h3><a href="{{ url_for('pubswh.new_pubs') }}">New
                    Publications by USGS Authors</a></h3>

                {% for recent_publication in recent_publications %}
                    <div>
                        <img class="thumbnail" src="
                                {{ wsgi_str }}{% if recent_publication['displayLinks']['Thumbnail'][0]['url'] %}{{ url_for('images', filename=recent_publication['displayLinks']['Thumbnail'][0]['url'], width=50, format='PNG') }}{% else %}{{ url_for('pubswh.images', filename='http://pubs.er.usgs.gov/thumbnails/usgs_thumb.jpg', width=50) }}{% endif %}"
                                                         alt="thumbnail"/>
                        <div class="recent-pub">
                            <div class="recent-pub-title">
                                <a href="{{ url_for('pubswh.publication', index_id = recent_publication['indexId']) }}">{{ recent_publication['title']|safe }}</a>
                            </div>
                            <div class="recent-pub-info">
                                {{ recent_publication|display_pub_info }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </aside>
        </div>
        <section id="twitter" class="usa-width-one-third">
            <a class="twitter-timeline" data-theme="dark" data-height="600px"
               href="https://twitter.com/USGS_Pubs?ref_src=twsrc%5Etfw">Tweets by USGS_Pubs</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </section>
    </div>
{% endblock %}

{% block page_footer_script %}

    {% include "pubswh/search_form_script.html" %}
    <!-- This basically catches links that were built on the old search parameter url design, which was all in the "fragment" after the hash -->
    <script type="text/javascript">
        //grab the contents of the fragment
        var searchstring = window.location.href.split('#')[1];
        //pass the contents of the fragment to the legacysearch endpoint for further munging and redirection
        if (searchstring) {
            window.location = "/legacysearch/" + searchstring;
        }
    </script>

{% endblock page_footer_script %}
