{% extends 'pubswh/base.html' %}
{% block head %}
    <title>New Publications by USGS Authors</title>
    <meta name="description" content="Explore publications recently added to the USGS Publications Warehouse">
    {% include 'pubswh/mathjax.html' %}
{% endblock head %}

{% block main_pubswh %}
    <h1 id="new-pubs-h1">Publications recently added to the Pubs Warehouse</h1>
    <section id="new_pubs_form" title="Search Form">
        <form id="num_series_form" class="usa-form" method="GET" action="{{ url_for('pubswh.new_pubs') }}">
            <div class="usa-checkbox">{{ num_form.num_series(class="usa-checkbox__input")}} {{ num_form.num_series.label(class="usa-checkbox__label") }}</div>
            <div class="usa-text">{{ num_form.date_range.label(class="usa-label") }} (500 records max) {{ num_form.date_range(class="usa-input") }}</div>
            <button type="submit" class="usa-button filter-button">Filter</button>
        </form>
    </section>
    <section id="new-publications" title="Search Results">
        {% for result in new_pubs %}
            <article>
                <cite class="search-result-title">
                    <a href="{{ url_for('pubswh.publication', index_id = result['indexId']) }}">
                        {{ result['title']|safe }}
                    </a>
                </cite>
                <p>Released {{ result['FormattedDisplayToPublicDate'] }} EST</p>
                <p class="search-result-pubinfo">{{ result|display_pub_info }}</p>
                {% if result['authorsList']|length > 0 %}<p class="search-result-contributors">{{ result['authorsList']|join(', ') }}</p>{% endif %}
                {% if result['editorsList']|length > 0 %}<p class="search-result-contributors">{{ result['editorsList']|join(', ') }}, editor(s)</p>{% endif %}
                {% if result['docAbstract']  %} <p>{{ result['docAbstract']|safe }}</p>{% endif %}
            </article>
        {% endfor %}
    </section>
{% endblock %}
