{% extends 'pubswh/base.html' %}

{% import 'assets.html' as assets %}

{% block head %}
    <title>{{ pubdata['title'] }}</title>
    <meta NAME="title" content="{{ pubdata['title'] }}" />
    <meta name="description" content="{% if pubdata['docAbstract']  %}{{ pubdata['docAbstract'].split(' ')[0:150]|join(' ')|striptags }}...{% endif %}" />
    <META NAME="abstract" CONTENT="{% if pubdata['docAbstract']  %}{{ pubdata['docAbstract']|striptags }}{% endif %}" />
    {% for author in pubdata['authorsList'] %}<meta NAME="author" content="{{ author }}"/>{% endfor %}
    <meta name = "revised" content="{{ pubdata['lastModifiedDate'] }}"/>
    <meta name = "created" content="{{ pubdata['displayToPublicDate'] }}"/>
    <meta name = "date" content="{{ pubdata['publicationYear'] }}"/>
  <!-- meta tags for google scholar indexing and zotero/mendeley parsing -->
    <meta name="citation_title" content="{{ pubdata['title'] }}" />
    <meta name="citation_publication_date" content="{{ pubdata['publicationYear'] }}" />
    <meta name="citation_date" content="{{ pubdata['publicationYear'] }}" />
    <meta name="citation_online_date" content="{{ pubdata['displayToPublicDate'] }}" />
    {% for author in pubdata['authorsList'] %}<meta NAME="citation_author" content="{{ author }}"/>{% endfor %}
    {% if pubdata['abstract'] %}<meta name="citation_abstract" content="{{ pubdata['abstract']|striptags }}" />{% endif %}
    {% if pubdata['displayLinks']['document']|length > 0  %}<meta name="citation_pdf_url" content="{{ pubdata['displayLinks']['document'][0] }}" />{% endif %}
    {% if pubdata['conferenceTitle'] %}<meta name="citation_conference_title" content="{{ pubdata['conferenceTitle'] }}" />{% endif %}
    {% if pubdata['seriesTitle'] %}<meta name="citation_journal_title" content="{{ pubdata['seriesTitle']['text'] }}" />{% endif %}
    {% if pubdata['volume'] %}<meta name="citation_volume" content="{{ pubdata['volume'] }}" />{% endif %}
    {% if pubdata['issue'] %}<meta name="citation_issue" content="{{ pubdata['issue'] }}" />{% endif %}
    {% if pubdata['seriesTitle']%}<meta name="citation_issn" content="{{ pubdata['seriesTitle']['onlineIssn'] }}" />{% endif %}
    {% if pubdata['isbn'] %}<meta name="citation_isbn" content="{{ pubdata['isbn'] }}" />{% endif %}
    {% if pubdata['startPage'] %}<meta name="citation_firstpage" content="{{ pubdata['startPage'] }}" />{% endif %}
    {% if pubdata['endPage'] %}<meta name="citation_lastpage" content="{{ pubdata['endPage'] }}" />{% endif %}
    {% if pubdata['publicationType'] %}
        {% if pubdata['publicationType']['text'] == 'Thesis' %}<meta name="citation_dissertation_institution" content="{{ pubdata['publisher'] }}" />{% endif %}
        {% if pubdata['publicationType']['text'] == 'Report' %}<meta name="citation_technical_report_institution" content="{{ pubdata['publisher'] }}" />{% endif %}
        {% if pubdata['publicationType']['text'] == 'Report' %}<meta name="citation_technical_report_number" content="{{ pubdata['seriesNumber'] }}{% if pubdata['chapter'] %}-{{ pubdata['chapter'] }}{% endif %}" />{% endif %}
    {% endif %}
    {% if pubdata['doi'] %}<meta name="citation_doi" content="{{ pubdata['doi'] }}" />{% endif %}
    {% if pubdata['displayLinks']['Document']|length >= 1 %}
        <meta name="citation_pdf_url" content="{{ pubdata['displayLinks']['Document'][0]['url'] }}" />
    {% endif %}

    {% block page_style %}
        {{ super() }}
       {%- if pubdata["geographicExtents"] -%}
        <link rel="stylesheet" href="{{ 'vendor/leaflet/leaflet.css' | asset_url }} ">
       {% endif %}
       <link rel="stylesheet" href="{{ 'vendor/academicons/css/academicons.css' | asset_url }} ">
    {% endblock page_style %}

    {% include 'pubswh/mathjax.html' %}
{% endblock head %}

{% block main_pubswh %}
    <main role ="main" id="publication-container">
        <article itemscope itemtype="http://schema.org/ScholarlyArticle">
            {% if pubdata['publicationType']['text'] == 'Article' or pubdata['publicationType']['text'] == 'Report' %}
                <abbr class="unapi-id" title="http://pubs.er.usgs.gov/publication/{{ pubdata['indexId'] }}">
                    <!-- avoid empty --></abbr>
            {% endif %}

            {% macro thumbnail_image() %}
                {# this image is being dynamically resized to 200 pixels from whatever it might have been #}
                {% if pubdata['displayLinks']['Thumbnail']|length > 0 %}
                    <img id="thumbnail"
                         src="{{ wsgi_str }}{{ url_for('images', filename=pubdata['displayLinks']['Thumbnail'][0]['url'], width=200, format='PNG') }}"
                         alt="thumbnail"/>
                {% else %}
                    <img id="thumbnail"
                         src="{{ wsgi_str }}{{ url_for('images', filename='http://pubs.er.usgs.gov/thumbnails/usgs_thumb.jpg', width=200) }}"
                         alt="thumbnail"/>
                {% endif %}
            {% endmacro %}

            <div class="publication-header-container">
                <div class="pubs-thumbnail">
                    {% if pubdata['seriesTitle'] and pubdata['seriesTitle']['text'] == "Scientific Investigations Map" and pubdata['displayLinks']['Sheet']|length >= 1 %}
                        <a class="usa-link"
                           title="First sheet link, right click to download or save as"
                           href="{{ (pubdata['displayLinks']['Sheet']|sort(attribute='rank')|first)["url"] }}">{{ thumbnail_image() }}</a>
                    {% elif pubdata['displayLinks']['Document']|length >= 1 %}
                        <a class="usa-link"
                           title="Main document link, right click to download or save as"
                           href="{{ (pubdata['displayLinks']['Document']|sort(attribute='rank')|first)['url'] }}">{{ thumbnail_image() }}</a>
                    {% elif pubdata['displayLinks']['Index Page']|length >= 1 %}
                        <a class="usa-link"
                           title="Go to {% if pubdata['displayLinks']['Index Page'][0]['text'] -%}
                                            {{- pubdata['displayLinks']['Index Page'][0]['text'] -}}
                                         {%- else -%} Publisher Index Page
                                         {%- endif %} for more information"
                           href="{{ pubdata['displayLinks']['Index Page'][0]['url'] }}">{{ thumbnail_image() }}</a>
                    {% else %}
                        {{ thumbnail_image() }}
                    {% endif %}
                </div>
                <div class="publication-header-info-container">
                    {# Choose publication title information to be displayed #}
                    <div class="publication-header-titles">
                        <h3 class="publication-title" itemprop="name">
                            {%- if pubdata['displayTitle'] -%}
                                {{ pubdata['displayTitle']|safe }}
                            {%- else -%}
                                {{ pubdata['title']|safe }}
                            {%- endif -%}
                        </h3>

                        {% if pubdata['seriesTitle'] %}
                            <div class="series-title">{{ pubdata['seriesTitle']['text'] }}
                                {{ pubdata['seriesNumber'] }}{% if pubdata['chapter'] %}-{{ pubdata['chapter'] }}{% endif %}{% if pubdata['subChapter'] %}-{{ pubdata['subChapter'] }}{% endif %}</div>
                        {% endif %}

                        {% if pubdata['subSeriesTitle'] %}
                            <div class="subseries-title">{{ pubdata['subSeriesTitle'] }}</div>
                        {% endif %}

                        {% if pubdata['collaboration'] %}
                            <div class="collaboration">{{ pubdata['collaboration']|safe }}</div>
                        {% endif %}
                    </div>

                    {# macro for generating the contributor lists, including commas & ands where they are supposed to be  #}
                    {% macro contributor_list(contributorListTyped, contributorKind) %}
                        {%- for contributor in pubdata[contributorListTyped] -%}
                            <span class="contributor" itemprop="{{ contributorKind }}"
                              itemtype="http://schema.org/{%- if contributor['type'] == "person" -%}Person{% else %}Organization{% endif %}">
                                {{- contributor['text'] -}}
                            </span>
                            {%- if contributor['orcid'] -%}
                                <a href="{{ contributor['orcid'] }}" aria-label="ORC Id"><i class="ai ai-orcid"></i></a>
                            {%- endif -%}
                            {%- if loop.first and loop.length == 2 -%}
                                &nbsp;and&nbsp;
                            {%- elif not loop.last and loop.length > 2 -%}
                                {%- if loop.index < loop.length - 1 -%}
                                    ,&nbsp;
                                {%- else -%}
                                    ,&nbsp;and&nbsp;
                                {%- endif -%}
                            {%- endif -%}
                        {%- endfor -%}
                    {% endmacro %}

                    <section id="contributors">
                        {%- if pubdata['authorsList'] -%}
                            <div>
                                <span class="list-title">By: </span>{{ contributor_list('authorsListTyped','author') }}
                            </div>
                        {% endif -%}
                        {%- if pubdata['editorsList'] %}
                            <div>
                                <span class="list-title">Edited by: </span>{{ contributor_list('editorsListTyped','editor') }}
                            </div>
                        {%- endif -%}
                        {%- if pubdata['compilersList'] -%}
                            <div>
                                <span class="list-title">Compiled by: </span>{{ contributor_list('compilersListTyped','compiler') }}
                            </div>
                        {%- endif -%}
                    </section>
                    <section>
                        <div id="doi-twitter-container">
                            {% if pubdata['doi'] %}
                                <div class="doi-container"><a itemprop="sameAs"
                                                              class="usa-link"
                                                              href="https://doi.org/{{ pubdata['doi'] }}"
                                                              onclick="GA.trackGAEvent('Downloads', 'DOI', 'http://dx.doi.org/{{ pubdata['doi'] }}')">
                                    https://doi.org/{{ pubdata['doi'] }}</a>
                                </div>
                            {% endif %}
                            <a href="https://twitter.com/share"
                               class="twitter-share-button"
                               data-text="USGS Pub"
                               data-via="USGS_Pubs"
                               data-dnt="true">Tweet</a>
                            <script>!function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0],
                                    p = /^http:/.test(d.location) ? 'http' : 'https';
                                if (!d.getElementById(id)) {
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = p + '://platform.twitter.com/widgets.js';
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                            }(document, 'script', 'twitter-wjs');</script>
                        </div>
                        {% if pubdata['altmetric'] %}
                            <div id="altmetric">
                                {% if pubdata['altmetric']['image'] is not none and pubdata['altmetric']['details'] is not none %}
                                    <a href="{{ pubdata['altmetric']['details'] }}">
                                        <img src="{{ pubdata['altmetric']['image'] }}" alt="Altmetric Badge">
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </section>
                </div>
            </div>
            <section>
                {% if pubdata['noUsgsAuthors'] %}
                    <p>This publication was funded by extramural grants, and has no U.S. Geological Survey(USGS)
                        affiliated authors or editors.
                        Hence, it was not required to conform to the USGS Fundamental Science Practices as described in
                        the
                        <a class="usa-link"
                           title="Link to USGS Manual"
                           href="https://www.usgs.gov/usgs-manual/">
                            USGS Manual
                        </a>.
                    </p>
                {% endif %}
            </section>

            <section id="suggested">
                {% macro linkdisplay(link) -%}
                    <a class="usa-link" href="{{ link['url'] }}" target="_blank"
                       onclick="GA.trackGAEvent('Downloads', '{{ link["type"]["text"] }}', '{{ link["url"] }}')"
                       title=" {% if link['description'] %}{{ link['description'] }}{% else %}{{ link['type']['text'] }}{% endif -%}">
                        <strong>
                            {%- if link['text'] -%}
                                {{- link['text']|safe -}}
                            {%- else -%}
                                {{- link['type']['text']|safe -}}
                            {%- endif -%}
                        </strong>
                        {%- if link["linkFileType"] and link["size"] %}
                            ({{ link["size"] }} {{ link["linkFileType"]["text"] }})
                        {% elif link["linkFileType"] %}
                            ({{ link["linkFileType"]["text"] }})
                        {%- elif link["size"] %}
                            ({{ link["size"] }})
                        {% endif -%}
                    </a>
                    {%- if link['linkHelpText'] %}
                        <small>{{ link['linkHelpText']|safe }}</small>{% endif %}
                {%- endmacro %}

                {%- macro linkdisplaylists(link_type, link_type_text_single, link_type_text_multiple) -%}
                    {% if pubdata['displayLinks'][link_type]|length == 1 %}
                        <li style="max-width: 100%;">{{ link_type_text_single }}: {{ linkdisplay(pubdata['displayLinks'][link_type][0]) }}</li>
                    {%- elif pubdata['displayLinks'][link_type]|length > 1 -%}
                        <li>{{ link_type_text_multiple }}:
                            <ul class="filessublist">
                                {%- for link in pubdata['displayLinks'][link_type]|sort(attribute='rank') -%}
                                    <li>{{ linkdisplay(link) }}</li>
                                {%- endfor -%}
                            </ul>
                        </li>
                    {% endif %}
                {%- endmacro -%}

                {% macro related_links() %}
                    {% if related_pubs['precede_len']  > 0 %}
                        <li>Preceding Publications:</li>
                        {% for precede_pub in related_pubs['precede_info'] %}
                            <ul>
                                <li class="filessublist">
                                    <a  class="usa-link"
                                        href="{{ url_for('pubswh.publication', index_id = precede_pub['id']) }}">
                                        {{ precede_pub['title'] }}({{ precede_pub['year'] }})
                                    </a>
                                </li>
                            </ul>
                        {% endfor %}
                    {% endif %}
                    {% if related_pubs['supersede_len'] > 0 %}
                        <li>Superseding Publications:</li>
                        {% for supersede_pub in related_pubs['supersede_info'] %}
                            <ul>
                                <li class="filessublist">
                                    <a class="usa-link"
                                       href="{{ url_for('pubswh.publication', index_id = supersede_pub['id']) }}">
                                        {{ supersede_pub['title'] }}({{ supersede_pub['year'] }})
                                    </a>
                                </li>
                            </ul>
                        {% endfor %}
                    {% endif %}
                {% endmacro %}

                {% block public_access %}{% endblock %}

                <h4>Links</h4>
                <ul class="usa-list">
                    {{- linkdisplaylists('Index Page','More information','More Information') -}}
                    {{- linkdisplaylists('Document','Document','Documents') -}}
                    {{- linkdisplaylists('Plate', 'Plate','Plates') -}}
                    {{- linkdisplaylists('Sheet', 'Sheet','Sheets') -}}
                    {{- linkdisplaylists('Chapter','Chapter','Chapters') -}}
                    {% if pubdata['interactions'] %}
                        {% if pubdata['hasSubParts'] %}
                            <li>Chapters:</li>
                        {% endif %}
                        {% for interaction in pubdata['interactions'] %}
                            {% if interaction['predicate'] == "IS_PART_OF" and interaction['subject']['indexId'] != pubdata['indexId'] %}

                                <ul >
                                    <li itemprop="hasPart" itemscope itemtype="http://schema.org/ScholarlyArticle" style="max-width: 100%;"
                                        itemid="{{ JSON_LD_ID_BASE_URL }}/publication/{{ interaction['subject']['indexId'] }}">
                                        {% if interaction['subject']['chapter'] %}Chapter
                                            {{ interaction['subject']['chapter'] }}
                                                    {% if interaction['subject']['subChapter'] %}
                                                        {{ interaction['subject']['subChapter'] }}{% endif %}
                                            : {% endif %}<a
                                            href="{{ JSON_LD_ID_BASE_URL }}/publication/{{ interaction['subject']['indexId'] }}"><span
                                            itemprop="name">{{ interaction['subject']['title']|safe }}</span></a></li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                        {% if pubdata['isPartOf'] %}
                            <li itemprop="isPartOf" itemscope itemtype="http://schema.org/ScholarlyArticle"
                                itemid="{{ JSON_LD_ID_BASE_URL }}/publication/{{ pubdata['isPartOf']['indexId'] }}">
                                Larger Work: {% if pubdata['chapter'] %}This publication is Chapter
                                {{ pubdata['chapter'] }}{% if pubdata['subChapter'] %}-
                                    {{ pubdata['subChapter'] }}{% endif %} of {% endif %}<a
                                    href="{{ JSON_LD_ID_BASE_URL }}/publication/{{ pubdata['isPartOf']['indexId'] }}"><span
                                    itemprop="name">{{ pubdata['isPartOf']['title']|safe }}</span></a></li>
                        {% endif %}
                    {% endif %}
                    {{- linkdisplaylists('Table', 'Table','Tables') -}}
                    {{- linkdisplaylists('Figure', 'Figure','Figures') -}}
                    {{- linkdisplaylists('Abstract','Abstract','Abstracts') -}}
                    {{- linkdisplaylists('Additional Report Piece','Additional Report Piece','Additional Report Pieces') -}}
                    {{- linkdisplaylists('Appendix', 'Appendix', 'Appendixes') -}}
                    {{- linkdisplaylists('Related Work','Related Work','Related Works') -}}
                    {{- linkdisplaylists('Application Site','Application Site','Application Sites') -}}
                    {{- linkdisplaylists('Authors Website','Authors Website','Authors Website') -}}
                    {{- linkdisplaylists('Companion Files','Companion File','Companion Files') -}}
                    {{- linkdisplaylists('Cover','Cover','Covers') -}}
                    {{- linkdisplaylists('Dataset', 'Dataset','Datasets') -}}
                    {{- linkdisplaylists('Data Release', 'Data Release','Data Releases') -}}
                    {{- linkdisplaylists('Database','Database','Databases') -}}
                    {{- linkdisplaylists('Errata','Errata','Errata') -}}
                    {{- linkdisplaylists('Illustration','Illustration','Illustrations') -}}
                    {{- linkdisplaylists('Image','Image','Images') -}}
                    {{- linkdisplaylists('Metadata','Metadata','Metadata') -}}
                    {{- linkdisplaylists('Project Site','Project Site','Project Sites') -}}
                    {{- linkdisplaylists('Raw Data', 'Raw Data', 'Raw Data') -}}
                    {{- linkdisplaylists('Read Me','Read Me','Read Me') -}}
                    {{- linkdisplaylists('Referenced Work','Referenced Work','Referenced Work') -}}
                    {{- linkdisplaylists('Spatial Data','Spatial Data','Spatial Data') -}}
                    {{- linkdisplaylists('Version History','Version History','Version History') -}}
                    {{- linkdisplaylists('NGMDB Index Page','National Geological Map Database Index Page','National Geological Map Database Index Pages') -}}
                    {{- linkdisplaylists('USGS Store','USGS Store Page','USGS Store Pages') -}}
                    {{- linkdisplaylists('Software Release','Software Release','Software Releases') -}}

                    {% if related_pubs %}
                        {{- related_links() -}}
                    {% endif %}
                    {% if pubdata['pubHasNoLinks'] == True %}
                        <li>The Publications Warehouse does not have links to digital versions of this publication at
                            this time
                        </li>
                    {% endif %}
                    {% if pubdata['offers'] %}
                        <li itemprop="offers" itemscope itemtype="http://schema.org/Offer">Paper version:
                            <link itemprop="availability" href="http://schema.org/InStock">
                            In stock and available from the <a class="usa-link"
                                                               itemprop="url"
                                                               href="{{ pubdata['offers']['schema:offers']['schema:url'] }}">
                                <strong>USGS Store</strong></a>
                        </li>
                    {% endif %}
                    {% if pubdata['openAccessHostType'] and pubdata['publicationSubtype']['text'] != 'USGS Numbered Series' and pubdata['publicationSubtype']['text'] != 'USGS Unnumbered Series' %}
                        
                        <li>Open Access Version:  
                            {% if pubdata['openAccessHostType']=="publisher" %}
                                <a href="{{ pubdata['openAccessLink'] }}">Publisher Index Page <i class="ai ai-open-access"></i></a>
                            {% elif pubdata['openAccessHostType']=="repository" %}
                                <a href="{{ pubdata['openAccessLink'] }}">External Repository <i class="ai ai-open-access"></i></a>
                            {% endif %}
                        </li>
                    {% endif %}
                    {# commenting this out until USGS can make a decision about it
                    {% if (pubdata['publicationSubtype'] and pubdata['publicationSubtype']['text'] == 'Journal Article' and pubdata['publicAccess']) %}
                        <li>The full text of this publication can be requested by filling out the
                            form <a class="usa-link" href="{{ url_for('pubswh.pub_access_contact') }}?title={{ pubdata['title'] }}&index_id={{ pubdata['indexId'] }}">here.</a></li>
                    {% endif %}
                    #}
                    <li>Download citation as: <a
                            href="{{ url_for('pubswh.publication', index_id = pubdata['indexId']) }}?mimetype=ris">RIS</a>
                        |
                        <a class="usa-link" href="{{ url_for('pubswh.publication', index_id = pubdata['indexId']) }}?mimetype=dublincore">Dublin
                            Core</a></li>
                </ul>
            </section>
            <section itemprop="description" id="abstract">
                <h4 id="abstract_head">{{ pubdata['abstractHeader'] }}</h4>
                <div>
                    <div class="abstract-contents">
                        {% if (pubdata['publicationSubtype'] and pubdata['publicationSubtype']['text'] == 'USGS Numbered Series' and (pubdata['publishedDate'] or pubdata['contact'])) or  (pubdata['publicationSubtype'] and pubdata['publicationSubtype']['text'] == 'Federal Government Series' and (pubdata['publishedDate'] or pubdata['contact'])) or (pubdata['publicationSubtype'] and pubdata['publicationSubtype']['text'] == 'USGS Unnumbered Series' and (pubdata['publishedDate'] or pubdata['contact'])) %}
                            <aside class="publication-aside">
                                {% include 'pubswh/USGS_series_aside.html' %}
                            </aside>
                        {% endif %}
                        {{ pubdata['docAbstract']|safe }}
                    </div>
                </div>
            </section>
            {% if publication_html_content %}
                {{ publication_html_content | safe }}
            {% endif %}
            {# include the publishedDate test so that we only display the Suggested Citation on Pubs the have been
                dealt with by an SPN person #}
            {% if pubdata['usgsCitation'] and (pubdata['publishedDate'] or pubdata['contact']) %}
                <section>
                    <h4>Suggested Citation</h4>
                    <p id="suggested-citation">{{ pubdata['usgsCitation']|safe }}</p>
                    {% if pubdata.get('seriesTitle') and pubdata.get('seriesTitle', {}).get("onlineIssn") %}
                        <p>ISSN: {{ pubdata['seriesTitle']["onlineIssn"] }} (online)</p>
                    {% endif %}
                    {% if pubdata['onlineOnly'] == 'N' and pubdata.get('seriesTitle', {}).get("printIssn") %}
                        <p>ISSN: {{ pubdata['seriesTitle']["printIssn"] }} (print)</p>
                    {% endif %}
                </section>
            {% endif %}
            {%- if pubdata["geographicExtents"] %}
                <section>
                    <h4>Study Area</h4>
                    <div id="mymap" style="width:90%;height:450px;"></div>

                </section>
            {%- endif -%}
            {% if pubdata['tableOfContents'] %}
                <section>
                    <h4>Table of Contents</h4>
                    {{ pubdata['tableOfContents']|safe }}
                </section>
            {% endif %}

            <section id="details">
                <table class="usa-table usa-table--borderless">
                    <tbody>
                    {% for detail in pubdata['details'] %}
                        <tr>
                            <th scope="row">{{ detail.keys() | join(', ') }}</th>
                            <td>{{ detail.values() | join(', ') | safe }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th scope="row">Google Analytic Metrics</th>
                        <td><a href="{{ url_for('metrics.publication', pubsid=indexID) }}">Metrics page</a></td>
                    </tr>
                    </tbody>
                    <caption>Additional publication details</caption>
                </table>
            </section>
            {% if pubdata['displayLinks']['Document'] or pubdata['displayLinks']['Plate'] or pubdata['displayLinks']['Sheet'] %}
                <aside>
                    <small><p class="adobeReader">Part or all of this report is presented in Portable Document Format
                        (PDF). For best results viewing and printing PDF documents, it is recommended that you download
                        the documents to your computer and open them with Adobe Reader. PDF documents opened from your
                        browser may not display or print as intended. Download the latest version of <a
                                href="http://get.adobe.com/reader/">Adobe Reader</a>, free of charge. More information
                        about viewing, downloading, and printing report files can be found <a
                                href="http://pubs.usgs.gov/potential_problems.html">here</a>.</p></small>
                </aside>
            {% endif %}
            {% if pubdata['hasExcel'] == True %}
                <aside>
                    <small><p class="adobeReader">Part of this report is presented in Microsoft Excel format (XLSX); the
                        latest version of Excel Viewer is required to view it. Download the latest version of <a
                                href="http://www.microsoft.com/en-us/download/details.aspx?id=10">Excel Viewer</a>, free
                        of charge.</p></small>
                </aside>
            {% endif %}
        </article>
    </main>
{% endblock %}


{% block page_footer_script %}
    {%- if pubdata["geographicExtents"] -%}
        <script type="text/javascript" src="{{ 'vendor/leaflet/leaflet.js' | asset_url }}"></script>
        <script type="text/javascript" src="{{ 'vendor/esri-leaflet/esri-leaflet.js' | asset_url }}"></script>
        <script type="application/javascript">
            SystemJS.import('{{ "scripts/resultsMap.js" | asset_url }}').then(function (resultsMap) {
                resultsMap.createResultsMap({
                    mapDivId: 'mymap',
                    publications: [{{ pubdata | tojson | safe }}],
                    enablePopup: false
                });
            });
        </script>
    {% endif %}
{% endblock page_footer_script %}
