
<form id="search-pubs-form" action="{{ url_for('pubswh.search_results') }}" method="get">
    <div>
        <label for="q-text">Search for Publications</label>
        <div class="usgs-input-group">
            <button aria-label="Clear search" title="Clear search" class="usgs-input-group-btn clear-search-btn" type="button"><i class="fas fa-times"></i></button>
            <input type="text" id="q-text" name="q" value="{{ request.args.q }}" />
            <span class="usgs-input-group-addon" aria-hidden="true"><i class="fas fa-search"></i></span>
        </div>
    </div>
    <div class="advanced-search-div">
        <label for="advanced-search-category">Advanced search category</label>
        <select id="advanced-search-category" class="search-category-select" style="width: 100%;">
            <option>- Select -</option>
            <option value="title" data-allow-multi="true" data-input-type="text" >Title</option>
            <option value="contributingOffice" data-allow-multi="true" data-input-type="select" data-lookup="costcenters">Contributing Office</option>
            <option value="contributor" data-allow-multi="true" data-input-type="text">Contributor Name</option>
            <option value="orcid" data-allow-multi="true" data-input-type="url">ORCID</option>
            <option value="year" data-allow-multi="true" data-input-type="text">Year Published</option>
            <option value="startYear" data-allow-multi="false" data-input-type="text">Published starting in</option>
            <option value="endYear" data-allow-multi="false" data-input-type="text">Published in or before</option>
            <option value="typeName" data-allow-multi="true" data-input-type="select" data-lookup="publicationtypes">Publication Type</option>
            <option value="subtypeName" data-allow-multi="true" data-input-type="select" data-lookup="publicationsubtypes">Publication Subtype</option>
            <option value="seriesName" data-allow-multi="true" data-input-type="select" data-lookup="publicationseries">Series Name</option>
            <option value="reportNumber" data-allow-multi="true" data-input-type="text">Report Number</option>
            <option value="doi" data-allow-multi="false" data-input-type="boolean">DOI</option>
            <option value="prodId" data-allow-multi="true" data-input-type="text">Prod ID</option>
            <option value="indexId" data-allow-multi="true" data-input-type="text">Index Id</option>
            <option value="pub_x_days" data-allow-multi="false" data-input-type="text">Published in the last X days</option>
            <option value="pub_date_low" data-allow-multi="false" data-input-type="date">Published After</option>
            <option value="pub_date_high" data-allow-multi="false" data-input-type="date">Published Before</option>
            <option value="mod_x_days" data-allow-multi="false" data-input-type="text">Modified in the last X days</option>
            <option value="mod_date_low" data-allow-multi="false" data-input-type="date">Modified After</option>
            <option value="mod_date_high" data-allow-multi="false" data-input-type="date">Modified Before</option>
            <option value="chorus" data-allow-multi="false" data-input-type="boolean">CHORUS</option>
            <option value="linkType" data-allow-multi="true" data-input-type="select" data-lookup="linktypes">Link Type</option>
            <option value="nolinkType" data-allow-multi="true" data-input-type="select" data-lookup="linktypes">Missing Link Type</option>
            <option value="g" data-allow-multi="false" data-input-type="map" >Area of Interest (Map)</option>
        </select>
    </div>
    <div class="advanced-search-container"></div>
    <div class="map-search-container"></div>
    <div>
        <input type="submit" value="Search" />
        <a id="show-hide-advanced-search-btn" role="button"></a>
    </div>
</form>
