<script type="text/javascript" src="{{ url_for('bower.static', filename = 'leaflet/dist/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('bower.static', filename='esri-leaflet/dist/esri-leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('bower.static', filename = 'leaflet-draw/dist/leaflet.draw.js') }}"></script>
<script type="text/javascript" src="{{ 'scripts/vendor/Wicket/wicket.js' | asset_url }}"></script>
<script type="text/javascript" src="{{ 'scripts/vendor/Wicket/wicket-leaflet.js' | asset_url }}"></script>
<script type="text/javascript" src="{{ url_for('bower.static', filename='moment/min/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('bower.static',filename='eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}">
</script>
<script type="text/javascript" src="{{ 'scripts/advanced_search.js' | asset_url }}"></script>
