{% extends 'metrics/base.html' %}

{% import 'assets.html' as assets %}

{% block config_initialize_script %}
    <script>
        var CONFIG = {
            PUBSID : '{{ pubsid }}',
            JSON_LD_ID_BASE_URL : '{{ config.JSON_LD_ID_BASE_URL }}',
        };
    </script>
{% endblock %}

{% block content %}
    <h1>Google Analytics Dashboard for Pubs Warehouse</h1>
    <h2>{{ publication.title }}</h2>
    <h3>uri: <a href="{{ url_for('pubswh.publication', index_id=pubsid) }}">{{ url_for('pubswh.publication', index_id=pubsid) }}</a></h3>
    <fieldset class="chart-display-select-div">
        <legend>Display as:&nbsp;</legend>
        <div>
            <input id="display-chart" type="radio" name="display-style" value="chart" checked />&nbsp;
            <label for="display-chart">Chart</label>
        </div>
        <div>
            <input id="display-table" type="radio" name="display-style" value="table" />&nbsp;
            <label for="display-table">Table</label>
        </div>
    </fieldset>
    <div class="chart-display">
        <div id="sessions-div" class="metric-div usa-grid">
            <div id="recent-sessions-container" class="usa-width-one-half recent-div"><i class="fas fa-spinner fa-spin fa-5x"></i></div>
            <div id="year-sessions-container" class="usa-width-one-half year-div"><i class="fas fa-spinner fa-spin fa-5x"></i></div>
        </div>
        <div id="visitors-div" class="metric-div usa-grid">
            <div id="recent-visitors-container" class="usa-width-one-half recent-div"></div>
            <div id="year-visitors-container" class="usa-width-one-half year-div"></div>
        </div>
        <div id="downloads-div" class="metric-div usa-grid">
            <div id="recent-downloads-container" class="usa-width-one-half recent-div"></div>
            <div id="year-downloads-container" class="usa-width-one-half year-div"></div>
        </div>
    </div>
    <div class="table-display">
        <div id="sessions-table-div" class="usa-grid metric-table-div">
            <div class="usa-width-one-half">
                <table class="table metric-table" id="recent-sessions-table"></table>
            </div>
            <div class="usa-width-one-half">
                <table class="table metric-table" id="year-sessions-table"></table>
            </div>
        </div>
        <div id="users-table-div" class="usa-grid metric-table-div">
            <div class="usa-width-one-half">
                <table class="table metric-table" id="recent-users-table"></table>
            </div>
            <div class="usa-width-one-half">
                <table class="table metric-table" id="year-users-table"></table>
            </div>
        </div>
        <div id="downloadevents-table-div" class="usa-grid metric-table-div">
            <div class="usa-width-one-half">
                <table class="table metric-table" id="recent-downloadevents-table"></table>
            </div>
            <div class="usa-width-one-half">
                <table class="table metric-table" id="year-downloadevents-table"></table>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_script %}
    {{ super() }}
    {{ assets.LoadBundle('pubGraphController.js') }}
{% endblock %}
