{% extends 'metrics/base.html' %}

{% import 'assets.html' as assets %}

{% block config_initialize_script %}
    <script>
        var CONFIG = {
            JSON_LD_ID_BASE_URL : '{{ config.JSON_LD_ID_BASE_URL }}'
        };
    </script>
{% endblock %}

{%  block main %}
    <h1>Google Analytics Dashboard for Pubs Warehouse</h1>
    <div class="chart-display-select-div">
        <label >Display as:&nbsp;</label>
        <div>
            <input id="display-chart" type="radio" name="display-style" value="chart" checked />&nbsp;
            <label for="display-chart">Chart</label>
        </div>
        <div>
            <input id="display-table" type="radio" name="display-style" value="table" />&nbsp;
            <label for="display-table">Table</label>
        </div>
    </div>
    <div class="chart-display">
        <div id="sessions-div" class="metric-div">
            <div id="recent-sessions-container" class="recent-div"><i class="fas fa-spinner fa-spin fa-5x"></i></div>
            <div id="year-sessions-container" class="year-div"><i class="fas fa-spinner fa-spin fa-5x"></i></div>
        </div>
        <div id="users-div" class="metric-div">
            <div id="recent-users-container" class="recent-div"></div>
            <div id="year-users-container" class="year-div"></div>
        </div>
        <div id="pageviews-div" class="metric-div">
            <div id="recent-pageviews-container" class="recent-div"></div>
            <div id="year-pageviews-container" class="year-div"></div>
        </div>
        <div id="downloadevents-div" class="metric-div">
            <div id="recent-downloadevents-container" class="recent-div"></div>
            <div id="year-downloadevents-container" class="year-div"></div>
        </div>
    </div>
    <div class="table-display">
        <div id="sessions-table-div" class="metric-table-div">
            <table class="table metric-table" id="recent-sessions-table"></table>
            <table class="table metric-table" id="year-sessions-table"></table>
        </div>
        <div id="users-table-div" class="metric-table-div">
            <table class="table metric-table" id="recent-users-table"></table>
            <table class="table metric-table" id="year-users-table"></table>
        </div>
        <div id="pageviews-table-div" class="metric-table-div">
            <table class="table metric-table" id="recent-pageviews-table"></table>
            <table class="table metric-table" id="year-pageviews-table"></table>
        </div>
        <div id="downloadevents-table-div" class="metric-table-div">
            <table class="table metric-table" id="recent-downloadevents-table"></table>
            <table class="table metric-table" id="year-downloadevents-table"></table>
        </div>
    </div>
{%  endblock %}

{% block page_script %}
    {{ super() }}
    {{ assets.LoadBundle('pubsGraphController.js') }}
{% endblock %}
