{% extends 'base.html' %}

{% block title %}Manage USGS Publications{% endblock %}

{% block page_style %}
	{%  assets "manager_style" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
	{% endassets %}
{% endblock %}

{% block main %}
	<div id="manage-content-header">
		<h1>Manage USGS Publications</h1>
		{% if current_user.is_authenticated() %}<a href="{{ url_for('auth.logout_page', forward='manager.show_app') }}">Logout</a>{% endif %}
	</div>
{% endblock %}

{% block page_script %}
	<script type="text/javascript">

		var require = {
			config: {
				'init' : {
					'scriptRoot' : "{{ request.script_root }}"
				}
			},
			baseUrl: "{{ url_for('manager.static', filename='js') }}",
			paths: {
				'jquery' : "{{ url_for('bower.static', filename='jquery/dist/jquery.js') }}",
				'bootstrap' : "{{ url_for('bower.static', filename='bootstrap/dist/js/bootstrap.js') }}",
				'text' : "{{ url_for('bower.static', filename='text/text.js') }}",
				'underscore' : "{{ url_for('bower.static', filename='underscore/underscore.js') }}",
				'backbone' : "{{ url_for('bower.static', filename='backbone/backbone.js') }}",
				'handlebars' : "{{ url_for('bower.static', filename='handlebars/handlebars.amd.js') }}",
				'backbone.stickit' : "{{ url_for('bower.static', filename='backbone.stickit/backbone.stickit.js') }}",
				'moment' : "{{ url_for('bower.static', filename='moment/min/moment.min.js') }}",
				'datetimepicker' : "{{ url_for('bower.static', filename='eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"
			},
			shim : {
				'bootstrap' : ['jquery'],
				'backbone' : ['jquery', 'underscore'],
				'backbone.stickit' : ['backbone', 'underscore'],
				'datetimepicker' : ['jquery', 'moment', 'bootstrap']
			}
		};
	</script>
	<script data-main="init" src="{{ url_for('bower.static', filename='requirejs/require.js') }}"></script>
{% endblock %}