{% extends 'manager/base.html' %}

{% block title %}Manage USGS Publications{% endblock %}

{% block main %}
	<h1>Manage USGS Publications</h1>
{% endblock %}

{% block page_script %}
	<script type="text/javascript">
		var require = {
			baseUrl: "{{ url_for('manager.static', filename='') }}",
			paths: {
				'jquery' : "{{ url_for('bower.static', filename='jquery/dist/jquery.js') }}",
				'bootstrap' : "{{ url_for('bower.static', filename='bootstrap/dist/js/bootstrap.js') }}"
			},
			shim : {
				'bootstrap' : ['jquery']
			}
		};
	</script>
	<script data-main="{{ url_for('manager.static', filename='js/init.js') }}" src="{{ url_for('bower.static', filename='requirejs/require.js') }}"></script>

{% endblock %}