{% extends 'base.html' %}
{% block head %}
    <title>U.S. Geological Survey Publications Warehouse</title>
    <meta name="description" content="The Publications warehouse contains over 130,000 publications that cover the 150 year history of the USGS">
    <script>

//advanced search show/hide toggle
$(document).ready(function(){
 $('.toggle').click(function(){
       var link = $(this);
        $('#advanced, #advanced_options').toggle('slow', function() {
           if ($(this).is(":visible")) {
                link.text('Hide Advanced');
           } else {
                link.text('Advanced Search');
				}
				});

    });

	//adding of inputs

	$("#add").click(function(e){
		$("#advancedSearch").append('<select class="empty"><option>Choose a Category</option></select><input type="text"/>');

		});


//clear function
	$("#clear").click(function(){
		$(".empty").val('');
		$('input[type="text"]').val('');
		});




});

        </script>
{% endblock %}
{% block main %}
            <article id="index_article">

                <section id="welcome">
                	<h1>Welcome to the USGS Publications Warehouse</h1>
                    <h3>Pubs Warehouse provides access to over 100,000 publications written by USGS scientists over the century-plus history of the bureau</h3>
                </section>

                <section id="search">
                	<label for="mysearch2">Search for publications </label>
                	<input id="mysearch2" type="search" placeholder="search publications">
                </section>

                <section id="advanced" style="display:none">

                	<label for="advancedSearch">Limit by... </label>

                    <form id="advancedSearch">

                    	<select class="empty">
                        	<option>Choose Category...</option>
                        </select><input type="text"/>

                        <select class="empty">
                        	<option>Choose Category...</option>
                        </select><input type="text"/>

                        <select class="empty">
                        	<option>Choose Category...</option>
                        </select><input type="text"/>

                        <select class="empty">
                        	<option>Choose Category...</option>
                        </select><input type="text"/>


                    </form>

                </section>

                <section id="advanced_options" style="display:none">

                	<p id="add">Add another field</p> <p id="bar2">|</p> <p id="clear">Clear</p>

                </section>

                <section id="checklist">

                	<input type="checkbox"/>

                    <label>Not a Scientist? <strong>Limit search to products written for the general public</strong></label><br><br>

                    <input type="checkbox"/><label>Looking for journal articles? <strong>Limit search to papers published in scientific journals</strong></label><br><br>

                    <input type="checkbox"/><label>Available Online</label>

                    <input type="checkbox"/><label>Only USGS Numbered Series</label><br>

                    <button>Search</button> <p id="bar">|</p> <p class="toggle">Advanced Search</p>

                </section>

                <section id="options">

                	<h3>Don't want to search?</h3>

                    	<h4><a href="http://pubs.er.usgs.gov/service/rss?xsl=..%2Fxslt%2Frss.xsl&orderby=dispPubDate&last_x_days=7&context=3">Explore recent publication by USGS Authors</a></h4>

                        <h4><a href="http://pubs.er.usgs.gov/browse">Browse all of Pubs Warehouse by publication type and year</a></h4>

                        <h4><a href="http://pubs.er.usgs.gov/news/newsView">Publications Warehouse News</a></h4>

                </section>

                <section id="links">

                	<h3>More links</h3>

                    	<h4><a href="#">FAQS</a></h4>

                    	<h4><a href="#">Contents</a></h4>

                    	<h4><a href="#">Other Resources</a></h4>

                </section>

                <section id = "twitter">
                    <a class="twitter-timeline" href="https://twitter.com/USGS_Pubs" data-widget-id="514473582231957504">Tweets by @USGS_Pubs</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                </section>

                <aside id="new_pubs">

                	<h3>New Publications by USGS Authors</h3>

                </aside>

            </article>
{% endblock %}