{% extends 'base.html' %}
{% block head %}
    <title>{{ pubdata['title'] }}</title>
    <meta name="description" content="{{ pubdata['abstract'] }}">
{% endblock %}



        {% block main %}
        <main role ="main">
            <article>
                <img id="thumbnail" src="{{ url_for('static', filename = 'img/_thumb_15050.png') }}" alt="thumbnail"/>

                <hgroup>
                    <h3 property="dc:title" datatype="" rel="dc:type" href="http://purl.org/dc/dcmitype/Text">{{ pubdata['title']|safe }}</h3>
                    {% if pubdata['seriesTitle'] %}
                    <h4>{{ pubdata['seriesTitle']['text'] }} {{ pubdata['seriesNumber'] }}</h4>
                    {% endif %}
                    {% if pubdata['subSeriesTitle'] %}
                    <h5>{{ pubdata['subSeriesTitle'] }}</h5>
                    {% endif %}
                    {% if pubdata['collaboration'] %}
                    <h6>{{ pubdata['collaboration'] }}</h6>
                    {% endif %}
                </hgroup>

                <section>
                    <dl id="contributors">
                      <dt>Authored by:</dt>
                      {% for contributor in pubdata['authors']|sort(attribute='rank')  %}
                          {% if contributor['corporation'] == False  %}
                        <dd rel="dc:creator" class="author" property="foaf:name" typeof="foaf:Person" itemtype="http://schema.org/Person">{{ contributor['given'] }}
                          {{ contributor['family'] }} {{ contributor['suffix'] }}</dd>
                          {% else %}
                         <dd rel="dc:creator" class="author" property="foaf:name" typeof="foaf:Organization" itemtype="http://schema.org/Organization">{{ contributor['organization'] }}</dd>
                          {% endif %}
                      {%  endfor %}
                      {% if pubdata['editors'] %}
                      <dt class="clear">Edited by:</dt>
                      {% for contributor in pubdata['editors']|sort(attribute='rank')  %}
                          {% if contributor['corporation'] == False  %}
                        <dd rel="dc:creator" class="editor" property="foaf:name" typeof="foaf:Person" itemtype="http://schema.org/Person">{{ contributor['organization'] }}{{ contributor['given'] }}
                          {{ contributor['family'] }} {{ contributor['suffix'] }}</dd>
                          {% else %}
                         <dd rel="dc:creator" class="editor" property="foaf:name" typeof="foaf:Organization" itemtype="http://schema.org/Organization">{{ contributor['organization'] }}</dd>
                          {% endif %}
                      {%  endfor %}
                      {% endif %}
                    </dl>
                </section>

                <section id="abstract">
                    <h2 id="abstract_head">Abstract</h2>
                    {{ pubdata['docAbstract']|safe }}

                </section>

                <section id="suggested">


                    <ul class="fileslist">
                        {% for link in pubdata['displayLinks']|sort(attribute='rank') %}
                            <li> <a href="{{ link["url"] }}" target="_blank" title="{% if link["description"] %}{{ link["description"] }} else {{ link["type"]["text"] }} {% endif %}"><strong>{{ link["type"]["text"] }}</strong> {% if link["linkFileType"]  %}{{ link["linkFileType"]["text"] }}{% endif %} {% if link["size"]  %}({{ link["size"] }}){% endif %}</a> </li>
                        {% endfor %}
                    </ul>


                <aside>
                    <p class="adobeReader">Part or all of this report is presented in Portable Document Format (PDF). For best results viewing and printing PDF documents, it is recommended that you download the documents to your computer and open them with Adobe Reader. PDF documents opened from your browser may not display or print as intended. Download the latest version of <a href="http://get.adobe.com/reader/">Adobe Reader</a>, free of charge. More information about viewing, downloading, and printing report files can be found <a href="http://pubs.usgs.gov/potential_problems.html">here</a>.</p>
                </aside>

                    <h4>Suggested Citation</h4>
                    <p class="reference">{{ pubdata['usgsCitation'] }}, <a href="http://dx.doi.org/{{ pubdata["doi"] }}">http://dx.doi.org/{{ pubdata["doi"] }}</a><p>
                <!--Table of Contents Goes here eventually-->


                </section>



                <section id="details">
                    <h4 id="" class="dark">Additional Publication Details</h4>
                    <dl id="publication_details">
                      {% for detail in pubdata['details'] %}
                          <dt class="{{ loop.cycle('', 'dark') }}">{{ detail.keys()[0] }}</dt>
                          <dd class="{{ loop.cycle('', 'dark') }}">{{ detail.values()[0] }}</dd>
                      {% endfor %}
                    </dl>



                </section>

            </article>
        </main>
        {% endblock %}

        {% block url %}<a href="{{ url_for('publication', indexId = pubdata['indexId']) }}">http://pubs.er.usgs.gov{{ url_for('publication', indexId = pubdata['indexId']) }}</a>{% endblock %}


